Repository manjuta/gigantum-client: changes, and which Codecov flags are due for each by the changed paths.
All: core, api

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      core:
        threshold: 1
        paths:
        - packages/gtmcore/**
      api:
        threshold: 1
        paths:
        - packages/gtmapi/**
    patch:
      core:
        threshold: 9
        paths:
        - packages/gtmcore/**
      api:
        threshold: 9
        paths:
        - packages/gtmapi/**
    changes: no

flags:
  core:
    paths:
      - packages/gtmcore/**
  api:
    paths:
      - packages/gtmapi/**

ignore:
  - "packages/gtmapi/lmsrvlabbook/tests/snapshots"  # ignore snapshot files as they don't really go towards coverage

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, reach, diff, flags, files"
  behavior: default
  require_changes: no

#1218 activity progress bar (#1260)
  packages/gtmcore/gtmcore/activity/monitors/monitor_jupyterlab.py
  packages/gtmcore/gtmcore/activity/monitors/monitor_rserver.py
  packages/gtmcore/gtmcore/activity/processors/core.py
  packages/gtmcore/gtmcore/activity/tests/test_core_processors.py
  packages/gtmcore/gtmcore/activity/tests/test_jupyterlabnotebookmonitor.py
Due: core

#1213 Improve detail record capture by collapsing file uploads into a single detail record (#1264)
  packages/gtmcore/gtmcore/inventory/repository.py
  packages/gtmcore/gtmcore/inventory/tests/test_process_sweep_status.py
  ui/src/js/components/labbook/overview/RecentActivity.scss
Due: core

copy change (#1269)
  ui/src/js/tips.json
Due: none

Increase run_container timeout. (#1272)
  packages/gtmcore/gtmcore/container/hub_container.py
Due: core

untracked folders in code and input (#1268)
  packages/gtmapi/lmsrvcore/api/mutations/chunkupload.py
  packages/gtmapi/lmsrvlabbook/api/objects/labbooksection.py
  packages/gtmapi/lmsrvlabbook/tests/snapshots/snap_test_dataset_files_mutations.py
  packages/gtmapi/lmsrvlabbook/tests/snapshots/snap_test_dataset_mutations.py
  packages/gtmapi/lmsrvlabbook/tests/snapshots/snap_test_labbook_mutations.py
  packages/gtmapi/lmsrvlabbook/tests/snapshots/snap_test_labbook_queries.py
  packages/gtmapi/lmsrvlabbook/tests/snapshots/snap_test_labbook_remote_ops.py
  packages/gtmapi/lmsrvlabbook/tests/test_application_queries.py
  packages/gtmapi/lmsrvlabbook/tests/test_labbook_queries.py
  packages/gtmcore/gtmcore/activity/store.py
  packages/gtmcore/gtmcore/dataset/manifest/file.py
  packages/gtmcore/gtmcore/dispatcher/dispatcher.py
  packages/gtmcore/gtmcore/files/files.py
  packages/gtmcore/gtmcore/files/tests/test_labbook_fileops.py
  packages/gtmcore/gtmcore/http/http.py
  packages/gtmcore/gtmcore/inventory/inventory.py
  packages/gtmcore/gtmcore/inventory/repository.py
  packages/gtmcore/gtmcore/labbook/gitignore.default
  packages/gtmcore/gtmcore/labbook/labbook.py
  packages/gtmcore/gtmcore/labbook/schemas.py
  packages/gtmcore/gtmcore/workflows/gitworkflows.py
  packages/gtmcore/gtmcore/workflows/gitworkflows_utils.py
  packages/gtmcore/gtmcore/workflows/tests/test_from_windows.zip
  packages/gtmcore/gtmcore/workflows/tests/test_zipworkflow.py
  ui/src/js/components/shared/fileBrowser/FileBrowser.js
  ui/src/js/components/shared/fileBrowser/fileRow/ActionsMenu.js
  ui/src/js/components/shared/fileBrowser/fileRow/Folder.js
Due: core, api

handle latest base revision when you don’t have access to the base repo (#1274)
  packages/gtmapi/lmsrvlabbook/api/objects/environment.py
Due: api

fixes dataset download in the data section (#1282)
  ui/src/js/components/shared/fileBrowser/fileRow/dataset/DatasetActionsMenu.js
Due: none

fix CSS when blocking edit docker snippet (#1281)
  ui/src/css/atoms/button.scss
  ui/src/images/icons/edit-white.svg
  ui/src/js/components/labbook/environment/CustomDockerfile.js
Due: none

#1284, #1285: Rollback and file browser fixes (#1287)
  ui/src/js/components/shared/activity/Activity.jsx
  ui/src/js/components/shared/fileBrowser/FileSizePromptModal.js
  ui/src/js/components/shared/fileBrowser/FileSizePromptModal.scss
  ui/src/js/components/shared/fileBrowser/fileRow/dataset/DatasetActionsMenu.js
  ui/src/js/components/shared/fileBrowser/utilities/PrepareUpload.js
Due: none

Selenium test harness improvements (#1278)
  testing/gigantum_tests/test_branching.py
  testing/gigantum_tests/test_cloud_projects.py
  testing/gigantum_tests/test_featured_public_projects.py
  testing/gigantum_tests/test_file_browser.py
  testing/gigantum_tests/test_jhu_load.py
  testing/gigantum_tests/test_link_dataset.py
  testing/testutils/actions.py
  testing/testutils/driverutil.py
  testing/testutils/elements.py
Due: none

Anonymous review auth (#1277)
  packages/gtmapi/lmsrvcore/middleware/dataloader.py
  packages/gtmcore/gtmcore/activity/processors/jupyterlab.py
  packages/gtmcore/gtmcore/auth/anon_review.py
  packages/gtmcore/gtmcore/auth/anonymous.py
  packages/gtmcore/gtmcore/auth/identity.py
  packages/gtmcore/gtmcore/auth/tests/test_anon_review.py
  packages/gtmcore/gtmcore/auth/user.py
  packages/gtmcore/gtmcore/fixtures/__init__.py
  packages/gtmcore/gtmcore/fixtures/fixtures.py
  packages/gtmcore/gtmcore/inventory/inventory.py
  resources/docker/Dockerfile
Due: core, api

(#1291) Adds caching layer to relay environment (#1295)
  ui/.snyk
  ui/package.json
  ui/src/js/Auth/UserIdentity.js
  ui/src/js/Auth/sessionCheck.js
  ui/src/js/components/dashboard/datasets/localDatasets/lookups/DatasetVisibilityLookup.js
  ui/src/js/components/dashboard/labbooks/localLabbooks/lookups/ContainerLookup.js
  ui/src/js/components/dashboard/labbooks/localLabbooks/lookups/VisibilityLookup.js
  ui/src/js/components/dataset/lookups/DatasetFileQuery.js
  ui/src/js/components/labbook/environment/packages/utils/PackageLookup.js
  ui/src/js/components/labbook/queries/fetchContainerStatus.js
  ui/src/js/components/labbook/queries/fetchLabbook.js
  ui/src/js/components/labbook/queries/fetchMigrationInfoQuery.js
  ui/src/js/components/shared/activity/Activity.jsx
  ui/src/js/components/shared/activity/utils/NewActivity.js
  ui/src/js/components/shared/header/actionsSection/collaborators/modal/CollaboratorsModal.jsx
  ui/src/js/components/shared/header/actionsSection/queries/LinkedLocalDatasetsQuery.js
  ui/src/js/components/shared/header/actionsSection/queries/LocalDatasetsQuery.js
  ui/src/js/components/shared/header/branches/UpdateDatasetCommits.js
  ui/src/js/components/shared/modals/create/queries/RepositoryNameIsAvailableQuery.js
  ui/src/js/createRelayEnvironment.js
  ui/src/js/utils/JobStatus.js
Due: none

Fixed ModuleNotFoundError: No module named 'gitdb.utils.compat' (#1296)
  gtm/requirements.txt
Due: none

Middle truncation used across the client
  ui/package.json
  ui/src/js/components/dashboard/datasets/localDatasets/LocalDatasetsPanel.js
  ui/src/js/components/dashboard/datasets/remoteDatasets/RemoteDatasets.js
  ui/src/js/components/dashboard/datasets/remoteDatasets/RemoteDatasetsPanel.js
  ui/src/js/components/dashboard/labbooks/localLabbooks/LocalLabbookPanel.js
  ui/src/js/components/dashboard/labbooks/remoteLabbooks/RemoteLabbookPanel.js
  ui/src/js/components/dashboard/labbooks/remoteLabbooks/RemoteLabbooks.js
  ui/src/js/components/shared/fileBrowser/fileRow/File.js
  ui/src/js/components/shared/fileBrowser/fileRow/File.scss
  ui/src/js/components/shared/fileBrowser/utilities/PrepareUpload.js
Due: none

repository title component created
  ui/src/js/components/dashboard/datasets/localDatasets/LocalDatasetsPanel.js
  ui/src/js/components/dashboard/datasets/remoteDatasets/RemoteDatasetsPanel.js
  ui/src/js/components/dashboard/labbooks/localLabbooks/LocalLabbookPanel.js
  ui/src/js/components/dashboard/labbooks/remoteLabbooks/RemoteLabbookPanel.js
  ui/src/js/components/dashboard/shared/title/RepositoryTitle.js
Due: none

Large untracked files (#1286), Truncation changes (#1114, #1297), Empty directory Fix (#1112), Activity Note Styling( #1283) (#1301)
  ui/package.json
  ui/src/js/components/dashboard/datasets/localDatasets/LocalDatasetsPanel.js
  ui/src/js/components/dashboard/datasets/remoteDatasets/RemoteDatasets.js
  ui/src/js/components/dashboard/datasets/remoteDatasets/RemoteDatasetsPanel.js
  ui/src/js/components/dashboard/labbooks/localLabbooks/LocalLabbookPanel.js
  ui/src/js/components/dashboard/labbooks/remoteLabbooks/RemoteLabbookPanel.js
  ui/src/js/components/dashboard/labbooks/remoteLabbooks/RemoteLabbooks.js
  ui/src/js/components/dashboard/shared/title/RepositoryTitle.js
  ui/src/js/components/shared/fileBrowser/fileRow/File.js
  ui/src/js/components/shared/fileBrowser/fileRow/File.scss
  ui/src/js/components/shared/fileBrowser/utilities/PrepareUpload.js
Due: none

#1304, #1029: Update dependencies for vulns and merge pip installs (#1311)
  .circleci/config.yml
  gtm/requirements.txt
  packages/gtmcore/requirements.txt
  resources/docker/Dockerfile
  resources/docker/Dockerfile_circleci
  testing/requirements.txt
Due: core

Wait for confighttpproxy (#1313)
  packages/gtmapi/rest_routes.py
  packages/gtmapi/service.py
Due: api

#1294: Add tooling and CI for programmatic changelogs (#1315)
  .circleci/config.yml
  .gitignore
  1
  WizardModal__buttons
  changelog/releases/v1.3.1/add-changelog.yaml
  changelog/render.py
  changelog/requirements.txt
  changelog/schema.yaml
  changelog/validate.py
Due: none

#1317: get correct branch during update for base images (#1314)
  .circleci/config.yml
  .codecov.yml
  changelog/releases/v1.3.1/1314-base-images-git-logic.yaml
  changelog/validate.py
  packages/gtmcore/gtmcore/activity/services.py
  packages/gtmcore/gtmcore/environment/repositorymanager.py
  packages/gtmcore/gtmcore/environment/tests/test_environment_repository_manager.py
  packages/gtmcore/gtmcore/gitlib/git.py
  packages/gtmcore/gtmcore/gitlib/git_fs.py
  packages/gtmcore/gtmcore/gitlib/git_fs_shim.py
  packages/gtmcore/gtmcore/gitlib/tests/git_interface_mixin.py
  packages/gtmcore/gtmcore/gitlib/tests/test_git_filesystem_shim.py
Due: core

#1214: Improve git credential storage (#1316)
  .circleci/config.yml
  changelog/releases/v1.3.1/improved-git-token-storage.yaml
  packages/gtmapi/lmsrvcore/utilities/__init__.py
  packages/gtmapi/lmsrvcore/utilities/git.py
  packages/gtmapi/lmsrvlabbook/api/mutations/user.py
  packages/gtmcore/gtmcore/auth/browser.py
  packages/gtmcore/gtmcore/auth/local.py
  packages/gtmcore/gtmcore/workflows/gitlab.py
  packages/gtmcore/gtmcore/workflows/tests/test_gitlab.py
  packages/gtmcore/requirements.txt
  resources/client/entrypoint-cloud.sh
  resources/client/entrypoint-local.sh
  resources/developer/entrypoint.sh
  resources/docker/Dockerfile_circleci
Due: core, api

Remove logout/in messages, fix warnings and tests for gtm sub-package (#1320)
  changelog/releases/v1.3.1/remove-logoutin-messages.yaml
  gtm/gtm/circleci/build.py
  gtm/gtm/client/build.py
  gtm/gtm/client/dev.py
  gtm/gtm/client/test.py
  gtm/gtm/common/config.py
  gtm/gtm/common/console.py
  gtm/gtm/tests/test_common_dockervolume.py
  gtm/gtm/tests/test_labmanager_build.py
  gtm/gtm/utils/docker.py
  packages/gtmcore/gtmcore/container/tests/test_container_ops.py
  packages/gtmcore/gtmcore/dispatcher/jobs.py
Due: core

#1321: wait for rq (#1322)
  .circleci/config.yml
  changelog/releases/v1.3.1/1321-wait-for-rq.yaml
  packages/gtmapi/service.py
  packages/gtmcore/gtmcore/dispatcher/dispatcher.py
  packages/gtmcore/gtmcore/dispatcher/tests/__init__.py
  packages/gtmcore/gtmcore/dispatcher/tests/test_dispatcher.py
Due: core, api

Get MITM proxy hostname from new mitm launch service endpoint.
  packages/gtmcore/gtmcore/container/hub_container.py
Due: core

Set PEP8 line length 10 120.
  packages/gtmcore/gtmcore/container/hub_container.py
Due: core

Another formatting pass.
  packages/gtmcore/gtmcore/container/hub_container.py
Due: core

removed rstudio filter
  ui/src/js/components/shared/header/container/devTools/DevTools.js
Due: none

#1161: Update remote Dataset delete to not require local repo (#1336)
  changelog/releases/v1.3.1/1161-simplify-remote-dataset-delete.yaml
  packages/gtmapi/lmsrvlabbook/api/mutations/dataset.py
  packages/gtmapi/lmsrvlabbook/tests/test_dataset_mutations.py
Due: api

Secrets and various permissions fixes (#1324)
  changelog/releases/v1.3.1/1324-secrets-and-permissions-improvements.yaml
  packages/gtmcore/gtmcore/container/cuda.py
  packages/gtmcore/gtmcore/container/jupyter.py
  packages/gtmcore/gtmcore/environment/componentmanager.py
  packages/gtmcore/gtmcore/workflows/container.py
Due: core

#1220: Set fileMode to false in submodule references on Windows hosts (#1337)
  changelog/releases/v1.3.1/1220-set-filemode-on-submodules.yaml
  packages/gtmcore/gtmcore/inventory/inventory.py
Due: core

Security upgrade mitmproxy from 4.0.4 to 5.1.1 (#1323)
  .circleci/config.yml
  changelog/releases/v1.3.1/1323-snyk-mitmproxy-update.yaml
  gtm/requirements.txt
  packages/gtmcore/gtmcore/container/rserver.py
  packages/gtmcore/gtmcore/mitmproxy/mitmproxy.py
  packages/gtmcore/requirements.txt
  resources/mitmproxy/Dockerfile
  resources/mitmproxy/README.md
Due: core

#1332 disables copy and visbility change instead of hiding (#1342)
  changelog/releases/v1.3.1/1342-disable-copy.yaml
  ui/src/js/components/shared/header/actionsSection/actionsMenu/ActionsMenu.js
  ui/src/js/components/shared/header/actionsSection/actionsMenu/ActionsMenu.scss
  ui/src/js/components/shared/header/actionsSection/actionsMenu/copy/CopyUrl.jsx
  ui/src/js/components/shared/header/actionsSection/actionsMenu/copy/CopyUrl.scss
  ui/src/js/components/shared/header/actionsSection/actionsMenu/visibility/ChangeVisibility.jsx
  ui/src/js/components/shared/header/actionsSection/actionsMenu/visibility/ChangeVisibility.scss
  ui/src/js/components/shared/sidePanel/Branches.js
  ui/src/js/components/shared/sidePanel/Branches.scss
Due: none
