Repository manjuta/gigantum-client: changes, and which Codecov flags are due for each by the changed paths.
All: core, api

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      core:
        threshold: 1
        paths:
        - packages/gtmcore/**
      api:
        threshold: 1
        paths:
        - packages/gtmapi/**
    patch:
      core:
        threshold: 9
        paths:
        - packages/gtmcore/**
      api:
        threshold: 9
        paths:
        - packages/gtmapi/**
    changes: no

flags:
  core:
    paths:
      - packages/gtmcore/**
  api:
    paths:
      - packages/gtmapi/**

ignore:
  - "packages/gtmapi/lmsrvlabbook/tests/snapshots"  # ignore snapshot files as they don't really go towards coverage

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, reach, diff, flags, files"
  behavior: default
  require_changes: no

close tray during test
  testing-legacy/gigantum_tests/test_cloud_projects.py
Due: none

fix closing the footer
  testing-legacy/gigantum_tests/test_cloud_projects.py
  testing-legacy/testutils/elements.py
Due: none

Update test_cloud_projects.py
  testing-legacy/gigantum_tests/test_cloud_projects.py
Due: none

cleanup tray behavior
  testing-legacy/gigantum_tests/test_cloud_projects.py
  testing-legacy/testutils/elements.py
Due: none

update link dataset tests
  testing-legacy/gigantum_tests/test_link_dataset.py
  testing-legacy/testutils/elements.py
Due: none

Update test_link_dataset.py
  testing-legacy/gigantum_tests/test_link_dataset.py
Due: none

fix modal timing
  testing-legacy/gigantum_tests/test_link_dataset.py
  testing-legacy/testutils/elements.py
Due: none

Update test_file_browser.py
  testing-legacy/gigantum_tests/test_file_browser.py
Due: none

Update test_merge_conflict_projects.py
  testing-legacy/gigantum_tests/test_merge_conflict_projects.py
Due: none

Leaving things in a broken state while I clean up dataset_jobs.py
  packages/gtmapi/lmsrvlabbook/api/mutations/dataset.py
  packages/gtmapi/lmsrvlabbook/api/mutations/datasetsharing.py
  packages/gtmapi/lmsrvlabbook/api/mutations/labbook.py
  packages/gtmapi/lmsrvlabbook/api/objects/datasettype.py
  packages/gtmapi/lmsrvlabbook/tests/test_dataset_sharing.py
  packages/gtmcore/gtmcore/dataset/io/manager.py
  packages/gtmcore/gtmcore/dataset/storage/__init__.py
  packages/gtmcore/gtmcore/dataset/storage/backend.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/dataset/tests/test_manifest.py
  packages/gtmcore/gtmcore/dispatcher/dataset_jobs.py
  packages/gtmcore/gtmcore/dispatcher/jobs.py
  packages/gtmcore/gtmcore/dispatcher/tests/test_dataset_jobs.py
  packages/gtmcore/gtmcore/fixtures/datasets.py
  packages/gtmcore/gtmcore/inventory/tests/test_inventory_datasets.py
Due: core, api

fix bad merge
  ui/src/js/pages/repository/shared/overview/Overview.js
Due: none

fix bad merge
  ui/src/js/pages/repository/shared/activity/date/note/UserNote.jsx
Due: none

#1444: add basic create project test to test framework (#1451)
  changelog/releases/v1.3.4/1444-add-basic-create-project.yaml
  testing/client_app/pages/project_listing/components/project_container_status_component.py
  testing/client_app/pages/project_listing/project_listing_page.py
  testing/framework/factory/compare_utility.py
  testing/framework/factory/models_enums/constants_enums.py
  testing/framework/factory/models_enums/page_config.py
  testing/framework/factory/page_factory.py
  testing/framework/helper/local_project_helper_utility.py
  testing/pytest.ini
  testing/requirements.txt
  testing/tests/conftest.py
  testing/tests/create_project/test_create_project.py
Due: none

Fixed dataset_jobs.py types
  packages/gtmcore/gtmcore/dispatcher/dataset_jobs.py
Due: core

--amend
  packages/gtmcore/gtmcore/dispatcher/dataset_jobs.py
Due: core

Trying to wade through a mess
  packages/gtmapi/lmsrvlabbook/api/mutation.py
  packages/gtmapi/lmsrvlabbook/api/mutations/__init__.py
  packages/gtmapi/lmsrvlabbook/api/mutations/dataset.py
  packages/gtmapi/lmsrvlabbook/api/objects/datasettype.py
  packages/gtmapi/lmsrvlabbook/api/query.py
  packages/gtmcore/gtmcore/dataset/dataset.py
  packages/gtmcore/gtmcore/dataset/schemas.py
  packages/gtmcore/gtmcore/dataset/storage/__init__.py
  packages/gtmcore/gtmcore/dataset/tests/test_storage_backend.py
  packages/gtmcore/gtmcore/dataset/tests/test_storage_local.py
  packages/gtmcore/gtmcore/dispatcher/tests/test_dataset_jobs.py
  packages/gtmcore/gtmcore/fixtures/datasets.py
  packages/gtmcore/gtmcore/fixtures/fixtures.py
  packages/gtmcore/gtmcore/inventory/inventory.py
Due: core, api

#1395: Add work dir migration on start for multi-server support (#1469)
  changelog/releases/selfhosted/1469-work-dir-migrate.yaml
  packages/gtmapi/lmsrvcore/tests/test_migrate.py
  packages/gtmapi/lmsrvcore/utilities/migrate.py
  packages/gtmapi/service.py
  packages/gtmcore/gtmcore/auth/tests/test_local.py
  packages/gtmcore/gtmcore/configuration/configuration.py
  packages/gtmcore/gtmcore/configuration/tests/test_configuration.py
  packages/gtmcore/gtmcore/fixtures/fixtures.py
  packages/gtmcore/gtmcore/inventory/inventory.py
  packages/gtmcore/gtmcore/inventory/tests/test_inventory_datasets.py
Due: core, api

Local test now runs! but still fails
  packages/gtmcore/gtmcore/dataset/storage/backend.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/dataset/storage/local.py
  packages/gtmcore/gtmcore/dataset/tests/test_storage_local.py
Due: core

A few minor doc changes
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
Due: core

Basic instantiation working for Dataset with LocalStorageBackend
  packages/gtmcore/gtmcore/configuration/configuration.py
  packages/gtmcore/gtmcore/dataset/dataset.py
  packages/gtmcore/gtmcore/dataset/storage/__init__.py
  packages/gtmcore/gtmcore/dataset/storage/backend.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/dataset/storage/local.py
  packages/gtmcore/gtmcore/dataset/tests/test_storage_local.py
Due: core

fixed dataset dropzone
  ui/src/js/components/shared/fileBrowser/FileBrowser.js
Due: none

changelog
  changelog/releases/v1.3.4/1464-dataset-dropzone.yaml
Due: none

Wrapped my head around updates - mostly TODOs and preparation
  packages/gtmcore/gtmcore/dataset/manifest/hash.py
  packages/gtmcore/gtmcore/dataset/manifest/manifest.py
  packages/gtmcore/gtmcore/dataset/storage/__init__.py
  packages/gtmcore/gtmcore/dataset/storage/backend.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/dataset/storage/local.py
  packages/gtmcore/gtmcore/dispatcher/dataset_jobs.py
Due: core

(1472) fixes notification tray showing in history mode when displaying build message (#1473)
  changelog/releases/v1.3.4/1472-fixes-notification-tray.yaml
  ui/src/js/components/common/footer/Footer.js
  ui/src/js/components/common/footer/FooterNotificationList.js
  ui/src/js/components/common/footer/FooterUploadBar.js
  ui/src/js/components/common/footer/FooterUtils.js
  ui/src/js/redux/reducers/footer.js
Due: none

Revert "edit JS to not mess with URL on import"
  ui/src/js/components/dashboard/shared/import/ImportModule.js
Due: none

add no ssl verify on datasets
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
Due: core

Finished hard part of moving hash file logic up into manifest.py
  packages/gtmcore/gtmcore/dataset/cache/filesystem.py
  packages/gtmcore/gtmcore/dataset/manifest/hash.py
  packages/gtmcore/gtmcore/dataset/manifest/manifest.py
Due: core

Commit to use diff on GitHub draft PR
  packages/gtmcore/gtmcore/dataset/cache/cache.py
  packages/gtmcore/gtmcore/dataset/cache/filesystem.py
  packages/gtmcore/gtmcore/dataset/manifest/hash.py
  packages/gtmcore/gtmcore/dataset/manifest/manifest.py
  packages/gtmcore/gtmcore/http/http.py
Due: core

manifest.py and hash.py passing mypy
  packages/gtmcore/gtmcore/dataset/manifest/hash.py
  packages/gtmcore/gtmcore/dataset/manifest/manifest.py
Due: core

fixed all type errors except in S3 backend
  packages/gtmapi/lmsrvlabbook/tests/fixtures.py
  packages/gtmcore/gtmcore/container/container.py
  packages/gtmcore/gtmcore/container/hub_container.py
  packages/gtmcore/gtmcore/dataset/cache/__init__.py
  packages/gtmcore/gtmcore/dataset/io/manager.py
  packages/gtmcore/gtmcore/dataset/manifest/hash.py
  packages/gtmcore/gtmcore/dataset/manifest/manifest.py
  packages/gtmcore/gtmcore/dataset/storage/__init__.py
  packages/gtmcore/gtmcore/dataset/storage/backend.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/dataset/storage/local.py
  packages/gtmcore/gtmcore/dataset/tests/test_cache_filesystem.py
  packages/gtmcore/gtmcore/dispatcher/dataset_jobs.py
  packages/gtmcore/gtmcore/fixtures/fixtures.py
Due: core, api

Fixed s3 mypy
  packages/gtmcore/gtmcore/dataset/storage/s3.py
Due: core

Adding a place-holder __init__ in s3 to get rid of final mypy errors
  packages/gtmcore/gtmcore/dataset/storage/s3.py
Due: core

Commiting a bit of a mess - gigantum object store specific code is all over the place
  packages/gtmapi/lmsrvlabbook/tests/test_dataset_upload_files_mutations.py
  packages/gtmcore/gtmcore/container/container.py
  packages/gtmcore/gtmcore/container/hub_container.py
  packages/gtmcore/gtmcore/container/local_container.py
  packages/gtmcore/gtmcore/dataset/cache/__init__.py
  packages/gtmcore/gtmcore/dataset/cache/cache.py
  packages/gtmcore/gtmcore/dataset/cache/filesystem.py
  packages/gtmcore/gtmcore/dataset/dataset.py
  packages/gtmcore/gtmcore/dataset/manifest/manifest.py
  packages/gtmcore/gtmcore/dataset/storage/backend.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/inventory/repository.py
Due: core, api

added issue link
  changelog/releases/v1.3.4/1464-dataset-dropzone.yaml
Due: none

Add pip package manager test case to test framework (#1481)
  changelog/releases/v1.3.4/1455-add-pip-package-manager.yaml
  testing/README.md
  testing/client_app/helper/local_project_helper_utility.py
  testing/client_app/pages/jupyter_lab/__init__.py
  testing/client_app/pages/jupyter_lab/jupyter_lab_page.py
  testing/client_app/pages/package_listing/__init__.py
  testing/client_app/pages/package_listing/components/add_package_component.py
  testing/client_app/pages/package_listing/components/package_grid_component.py
  testing/client_app/pages/package_listing/package_listing_page.py
  testing/client_app/pages/project_listing/components/project_container_status_component.py
  testing/client_app/pages/project_listing/components/project_grid_component.py
  testing/client_app/pages/project_listing/project_listing_page.py
  testing/configuration/configuration.yaml
  testing/framework/factory/compare_utility.py
  testing/framework/factory/models_enums/constants_enums.py
  testing/framework/factory/page_factory.py
  testing/framework/helper/local_project_helper_utility.py
  testing/pytest.ini
  testing/tests/add_package/test_add_package.py
  testing/tests/conftest.py
  testing/tests/create_project/test_create_project.py
  testing/tests/test_fixtures.py
Due: none

Saving work - at the hardest point in the manifest surgery!
  packages/gtmcore/gtmcore/dataset/cache/__init__.py
  packages/gtmcore/gtmcore/dataset/dataset.py
  packages/gtmcore/gtmcore/dataset/manifest/manifest.py
  packages/gtmcore/gtmcore/dataset/storage/backend.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/dataset/storage/local.py
  packages/gtmcore/gtmcore/dataset/tests/test_cache_filesystem.py
  packages/gtmcore/gtmcore/inventory/inventory.py
  packages/gtmcore/gtmcore/inventory/repository.py
Due: core
