Repository manjuta/gigantum-client: changes, and which Codecov flags are due for each by the changed paths.
All: core, api

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      core:
        threshold: 1
        paths:
        - packages/gtmcore/**
      api:
        threshold: 1
        paths:
        - packages/gtmapi/**
    patch:
      core:
        threshold: 9
        paths:
        - packages/gtmcore/**
      api:
        threshold: 9
        paths:
        - packages/gtmapi/**
    changes: no

flags:
  core:
    paths:
      - packages/gtmcore/**
  api:
    paths:
      - packages/gtmapi/**

ignore:
  - "packages/gtmapi/lmsrvlabbook/tests/snapshots"  # ignore snapshot files as they don't really go towards coverage

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, reach, diff, flags, files"
  behavior: default
  require_changes: no

attempts reload fix
  ui/src/js/components/prompt/Prompt.js
Due: none

removes console log
  ui/src/js/pages/login/landing/servers/server/Server.jsx
Due: none

merged integration
  ui/src/js/components/modal/popup/PopupBlocked.jsx
  ui/src/js/components/modal/popup/PopupBlocked.scss
  ui/src/js/components/shared/modals/PopupBlocked.js
  ui/src/js/pages/repository/shared/fileBrowser/fileRow/File.js
  ui/src/js/pages/repository/shared/header/container/devTools/DevTools.js
Due: none

(#1542) Adds storybook, relay testing utils and integrated snapshots for ui tests (#1568)
  changelog/releases/v1.4.1/1542-testing-tools.yaml
  ui/.gitignore
  ui/.jest/dom.js
  ui/.jest/enzyme-adapter.js
  ui/.jest/register-context.js
  ui/.storybook/.babelrc
  ui/.storybook/configs.js
  ui/.storybook/index.html
  ui/.storybook/main.js
  ui/.storybook/middleware.js
  ui/.storybook/preview-body.html
  ui/.storybook/preview.js
  ui/config/testData/cached_id_jwt
  ui/config/testData/cached_id_jwt_copy
  ui/jest.config.js
  ui/package.json
  ui/results/.jest-testresults.json
  ui/scripts/buildTests.js
  ui/scripts/tests/moveIdTokens.js
  ui/src/js/components/advancedSearch/AdvancedSearch.jsx
  ui/src/js/components/advancedSearch/AdvancedSearch.scss
  ui/src/js/components/advancedSearch/AdvancedSearchOverrides.scss
  ui/src/js/components/advancedSearch/__tests__/AdvancedSearch.stories.jsx
  ui/src/js/components/advancedSearch/__tests__/AdvancedSearch.test.js
  ui/src/js/components/advancedSearch/__tests__/__snapshots__/AdvancedSearch.stories.storyshot
  ui/src/js/components/modal/popup/PopupBlocked.jsx
  ui/src/js/components/modal/popup/PopupBlocked.scss
  ui/src/js/components/prompt/Prompt.js
  ui/src/js/components/shared/modals/PopupBlocked.js
  ui/src/js/pages/repository/labbook/Labbook.js
  ui/src/js/pages/repository/labbook/labbookBackend.js
  ui/src/js/pages/repository/shared/fileBrowser/fileRow/File.js
  ui/src/js/pages/repository/shared/header/container/devTools/DevTools.js
  ui/src/js/utils/apiUrl.js
  ui/yarn.lock
Due: none

Adds uri decoding for more complex error messages (#1571)
  changelog/releases/v1.4.1/3rd-party-auth-status.yaml
  ui/src/js/Auth/AuthHandler.js
Due: none

(#1496) Adds instructions for resolving installation issues with requirements packages (#1572)
  changelog/releases/v1.4.1/1496-requirements-text.yaml
  ui/public/index.html
  ui/src/js/pages/repository/labbook/environment/packages/packageModal/Requirements.js
Due: none

fix: ui/package.json to reduce vulnerabilities
  ui/package.json
Due: none

updating test framework to support Gigantum Client_1.4.0 and above (#1594)
  changelog/releases/v1.4.1/1569-test-framework-update-for-ver140-and-above.yaml
  testing/client_app/helper/local_project_helper_utility.py
  testing/client_app/pages/landing/components/landing_component.py
  testing/configuration/configuration.yaml
  testing/tests/add_package/test_add_package.py
  testing/tests/add_package_using_docker_snippets/test_add_package_using_docker_snippets.py
  testing/tests/add_package_using_requirements_txt/test_add_package_using_requirements_txt.py
  testing/tests/create_project/test_create_project.py
  testing/tests/delete_package/test_delete_package.py
  testing/tests/login/test_login.py
  testing/tests/verify_package_with_broken_build/test_verify_package_with_broken_build.py
Due: none

wip - functional prototype with hardcoding
  packages/gtmapi/service.py
  packages/gtmcore/gtmcore/container/container.py
  packages/gtmcore/gtmcore/container/cuda.py
  packages/gtmcore/gtmcore/container/local_container.py
  packages/gtmcore/gtmcore/container/tests/test_cuda_gpu_inventory.py
  packages/gtmcore/requirements.txt
Due: core, api

Update configuration.py
  packages/gtmcore/gtmcore/configuration/configuration.py
Due: core

fix logic and don't reutrn GPU if not needed
  packages/gtmcore/gtmcore/container/cuda.py
  packages/gtmcore/gtmcore/container/local_container.py
Due: core

add binds to host config
  packages/gtmcore/gtmcore/container/local_container.py
Due: core

(#1557) Fixes summary showing negative value (#1597)
  changelog/releases/v1.4.1/1557-summary-negative.yaml
  packages/gtmcore/gtmcore/container/tests/test_container_ops.py
  ui/.gitattributes
  ui/src/js/components/modal/popup/PopupBlocked.jsx
  ui/src/js/pages/repository/dataset/overview/Summary.js
  ui/src/js/pages/repository/dataset/overview/Summary.scss
  ui/src/js/pages/repository/dataset/overview/Type.js
  ui/src/js/pages/repository/dataset/overview/Type.scss
  ui/src/js/pages/repository/dataset/overview/summary/Summary.jsx
  ui/src/js/pages/repository/dataset/overview/summary/Summary.scss
  ui/src/js/pages/repository/dataset/overview/type/Type.jsx
  ui/src/js/pages/repository/dataset/overview/type/Type.scss
  ui/src/js/pages/repository/shared/overview/Overview.js
Due: core

(#1560) fixes activity note markdown (#1596)
  changelog/releases/v1.4.1/1560-activity-note-markdown.yaml
  ui/src/css/atoms/markdown.scss
  ui/src/css/critical.scss
  ui/src/images/logos/Chrome-popup.png
  ui/src/images/logos/Firefox-popup.png
  ui/src/images/logos/safari-popup.png
  ui/src/js/pages/repository/shared/activity/wrappers/card/ActivityCard.jsx
  ui/src/js/pages/repository/shared/activity/wrappers/card/ActivityDetailList.jsx
  ui/src/js/pages/repository/shared/activity/wrappers/card/ActivityDetails.jsx
  ui/src/js/pages/repository/shared/activity/wrappers/card/records/DetailRecords.jsx
  ui/src/js/pages/repository/shared/activity/wrappers/card/records/DetailRecordsWrapper.jsx
  ui/src/js/pages/repository/shared/activity/wrappers/card/records/record/RenderDetail.jsx
  ui/src/js/pages/repository/shared/overview/Overview.js
  ui/src/js/pages/repository/shared/overview/Overview.scss
Due: none

Update legacy test harness to work with client 1.4.0 (#1566)
  .gitignore
  changelog/releases/v1.4.1/legacy-test-harness-updates.yaml
  testing-legacy/gigantum_tests/test_branching.py
  testing-legacy/gigantum_tests/test_delete_project.py
  testing-legacy/gigantum_tests/test_file_browser.py
  testing-legacy/gigantum_tests/test_merge_conflict_projects.py
  testing-legacy/requirements.txt
  testing-legacy/testutils/actions.py
  testing-legacy/testutils/cleanup.py
  testing-legacy/testutils/elements.py
  testing-legacy/testutils/testutils.py
Due: none

(#1559) Fixes collapsing records and refetch pagination (#1600)
  changelog/releases/v1.4.1/1559-activity-feed.yaml
  ui/package.json
  ui/src/js/pages/repository/labbook/Labbook.js
  ui/src/js/pages/repository/shared/activity/Activity.jsx
  ui/src/js/pages/repository/shared/activity/wrappers/card/records/DetailRecords.jsx
  ui/src/js/pages/repository/shared/activity/wrappers/card/records/record/Record.jsx
  ui/src/js/pages/repository/shared/activity/wrappers/card/records/record/RenderDetail.jsx
  ui/src/js/pages/repository/shared/header/Header.js
  ui/src/js/pages/repository/shared/header/actionsSection/actionsMenu/copy/CopyUrl.jsx
  ui/src/js/redux/actions/labbook/labbook.js
  ui/src/js/redux/reducers/labbook/labbook.js
Due: none

Update package for security issue and add CUDA 11 support (#1595)
  changelog/releases/v1.4.1/1565-cuda-11-and-dep-update.yaml
  packages/gtmcore/gtmcore/container/cuda.py
  packages/gtmcore/gtmcore/container/tests/test_cuda_version.py
  packages/gtmcore/requirements.txt
Due: core

Dataset Read-only filebrowser (#1556)
  changelog/releases/v.1.4.1/dataset-readonly.yaml
  ui/src/js/pages/repository/dataset/Dataset.js
  ui/src/js/pages/repository/shared/fileBrowser/FileBrowser.js
  ui/src/js/pages/repository/shared/fileBrowser/FileBrowserTools.js
  ui/src/js/pages/repository/shared/fileBrowser/utilities/Connectors.js
  ui/src/js/pages/repository/shared/filesShared/sectionWrapper/SectionWrapper.js
  ui/src/js/pages/repository/shared/header/actionsSection/collaborators/Collaborators.js
Due: none

Export widget Changes (#1503) (#1535)
  changelog/releases/v1.4.0/export-widget.yaml
  ui/package.json
  ui/src/js/pages/repository/shared/header/actionsSection/actionsMenu/ActionsMenu.js
  ui/src/js/pages/repository/shared/header/actionsSection/actionsMenu/ActionsMenu.scss
  ui/src/js/pages/repository/shared/header/actionsSection/actionsMenu/copy/CopyUrl.jsx
  ui/src/js/pages/repository/shared/header/actionsSection/actionsMenu/copy/CopyUrl.scss
Due: none

(#1533) Adds separate build path for cloud client builds. (#1562)
  changelog/releases/v1.4.1/1490-dataset-summary-bar-graph.yaml
  changelog/releases/v1.4.1/1533-cloud-client-build.yaml
  resources/client/cloud-config-override-dev.yaml
  ui/__tests__/components/dashboard/__snapshots__/DashboardDatasetLocal.test.js.snap
  ui/__tests__/components/dashboard/__snapshots__/DashboardLocal.test.js.snap
  ui/__tests__/components/dashboard/__snapshots__/DashboardRemote.test.js.snap
  ui/__tests__/components/dashboard/datasets/localDatasets/__snapshots__/LocalDatasets.test.js.snap
  ui/__tests__/components/dashboard/labbooks/localLabbooks/__snapshots__/LocalLabbookPanel.test.js.snap
  ui/__tests__/components/dashboard/labbooks/localLabbooks/__snapshots__/LocalLabbooks.test.js.snap
  ui/__tests__/components/dashboard/labbooks/remoteLabbooks/__snapshots__/RemoteLabbooks.test.js.snap
  ui/__tests__/components/shared/fileBrowser/fileRow/__snapshots__/file.test.js.snap
  ui/__tests__/components/shared/fileBrowser/fileRow/__snapshots__/fileDataset.test.js.snap
  ui/__tests__/components/shared/fileBrowser/fileRow/__snapshots__/folder.test.js.snap
  ui/config/paths.js
  ui/config/webpack.config.dev.js
  ui/config/webpack.config.prod.js
  ui/package.json
  ui/public/index.html
  ui/src/js/Auth/AuthHandler.js
  ui/src/js/cloud/AppCloud.jsx
  ui/src/js/cloud/index.js
  ui/src/js/components/tooltip/Tooltip.js
  ui/src/js/history.js
  ui/src/js/pages/Routes.jsx
  ui/src/js/pages/dashboard/Dashboard.js
  ui/src/js/pages/dashboard/labbooks/Labbooks.js
  ui/src/js/pages/repository/shared/modals/create/CreateModal.js
  ui/src/js/utils/apiUrl.js
  ui/yarn.lock
Due: none

add backup in progress field to server info
  packages/gtmapi/rest_routes.py
  packages/gtmcore/gtmcore/configuration/configuration.py
Due: core, api

Skip work dir migrations on first install (#1555)
  changelog/releases/v1.4.0/fix-migration-on-install.yaml
  packages/gtmapi/lmsrvcore/tests/fixtures.py
  packages/gtmapi/lmsrvcore/tests/test_migrate.py
  packages/gtmapi/lmsrvcore/utilities/migrate.py
Due: api

(#1490) Adds bar graph for dataset summary (#1500)
  .gitattributes
  changelog/releases/v1.3.4/1490-dataset-summary-bar-graph.yaml
  ui/src/images/icons/star__on.svg
  ui/src/images/icons/up-arrow.svg
  ui/src/images/logos/app-mac.png
  ui/src/images/logos/app-win.png
  ui/src/images/logos/cli.png
  ui/src/images/logos/down-arrow.svg
  ui/src/images/logos/gigantum-cyan.png
  ui/src/images/logos/gigantum.png
  ui/src/images/logos/logo-circle-cyan.png
  ui/src/images/logos/up-arrow.svg
  ui/src/js/components/visualization/horizontal/ChartConfig.js
  ui/src/js/components/visualization/horizontal/HorizontalBar.jsx
  ui/src/js/components/visualization/horizontal/HorizontalBar.scss
  ui/src/js/pages/repository/dataset/overview/Summary.js
Due: none

edited backup test endpoint
  packages/gtmapi/rest_routes.py
Due: api

fixed typo
  packages/gtmapi/rest_routes.py
Due: api

added backup-in-progress to currentserver object
  packages/gtmapi/lmsrvlabbook/api/objects/server.py
Due: api

line ending issue
  packages/gtmapi/lmsrvlabbook/tests/data/test-labbook.zip
  packages/gtmcore/gtmcore/activity/tests/52f5a3a9.rserver.dump
  packages/gtmcore/gtmcore/activity/tests/73467b78.rserver.dump
  packages/gtmcore/gtmcore/dataset/storage/thumbnails/gigantum_object_storage.png
  packages/gtmcore/gtmcore/dataset/storage/thumbnails/local_filesystem.png
  packages/gtmcore/gtmcore/dataset/storage/thumbnails/s3.png
  packages/gtmcore/gtmcore/labbook/tests/test.zip
  packages/gtmcore/gtmcore/workflows/tests/lb-to-migrate-197b6a.zip
  packages/gtmcore/gtmcore/workflows/tests/snappy.zip
  packages/gtmcore/gtmcore/workflows/tests/test_from_windows.zip
  ui/src/images/logos/Chrome-popup.png
  ui/src/images/logos/Firefox-popup.png
  ui/src/images/logos/safari-popup.png
Due: core, api

update gitlab response conditional
  packages/gtmapi/lmsrvlabbook/api/objects/server.py
  packages/gtmapi/rest_routes.py
Due: api

intercepting gitlab errors to check if they're due to backup in progress, modify errors if so
  packages/gtmcore/gtmcore/gitlib/git_fs.py
  packages/gtmcore/gtmcore/workflows/gitlab.py
  packages/gtmcore/gtmcore/workflows/gitworkflows.py
  packages/gtmcore/gtmcore/workflows/gitworkflows_utils.py
Due: core

typo
  packages/gtmapi/lmsrvlabbook/api/objects/server.py
Due: api

catch error when pinging gitlab in case server is shut down
  packages/gtmapi/rest_routes.py
Due: api

merged gitlab exceptions, use in dataset file downloads
  packages/gtmapi/lmsrvlabbook/api/objects/datasetlist.py
  packages/gtmapi/lmsrvlabbook/api/objects/labbooklist.py
  packages/gtmcore/gtmcore/dispatcher/dataset_jobs.py
  packages/gtmcore/gtmcore/workflows/__init__.py
  packages/gtmcore/gtmcore/workflows/gitworkflows_utils.py
Due: core, api
