Repository manjuta/gigantum-client: changes, and which Codecov flags are due for each by the changed paths.
All: core, api

Minor update to also check local branches exist for commits ahead and… (#1420)
  changelog/releases/v.1.3.3/1420-branch-diffing.yaml
  packages/gtmapi/lmsrvlabbook/tests/test_labbook_queries.py
  packages/gtmcore/gtmcore/inventory/branching.py
Due: core, api

Fixed Typo in GSOD (#1418) (#1422)
  changelog/releases/v.1.3.3/1418-GSOD-typo.yaml
  ui/src/js/components/Routes.js
Due: none

Not-yet-working VScode support for docker-compose
  .devcontainer/devcontainer.json
Due: none

Basically working VS Code on Docker Compose on WSL2
  .devcontainer/ABOUT.md
  .devcontainer/devcontainer.json
Due: none

Safari Styling Fixes (#1411) (#1424)
  changelog/releases/v.1.3.3/1411-safari-fixes.yaml
  ui/src/css/atoms/button.scss
  ui/src/css/atoms/inputText.scss
  ui/src/js/components/browserSupport/BrowserSupport.js
  ui/src/js/components/labbook/environment/Environment.scss
  ui/src/js/components/shared/fileBrowser/fileRow/ActionsMenu.js
  ui/src/js/components/shared/header/actionsSection/collaborators/modal/CollaboratorsModal.scss
  ui/src/js/components/shared/sidePanel/Branches.js
  ui/src/js/index.js
Due: none

Minor updates to VSCode setup - will revert later
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml_vscode
Due: none

set verify=false when calling gateway or gitlab api
  packages/gtmapi/lmsrvlabbook/api/objects/datasetlist.py
  packages/gtmapi/lmsrvlabbook/api/objects/labbooklist.py
  packages/gtmcore/gtmcore/workflows/gitlab.py
  resources/client/entrypoint-local.sh
  testing/testutils/graphql_hub_helpers.py
Due: core, api

Some half-implemented refactoring
  packages/gtmcore/gtmcore/dataset/dataset.py
  packages/gtmcore/gtmcore/dataset/io/manager.py
  packages/gtmcore/gtmcore/dataset/storage/__init__.py
  packages/gtmcore/gtmcore/dataset/storage/backend.py
  packages/gtmcore/gtmcore/dataset/storage/local.py
  packages/gtmcore/gtmcore/dataset/storage/s3.py
  packages/gtmcore/gtmcore/dataset/tests/test_storage_backend.py
  packages/gtmcore/gtmcore/dataset/tests/test_storage_local.py
  packages/gtmcore/gtmcore/dispatcher/jobs.py
Due: core

Tag colors match dropdown options in Select Base Modal (#1417) (#1421)
  changelog/releases/v.1.3.3/1417-match-tag-colors.yaml
  ui/src/js/components/common/advancedSearch/AdvancedSearch.scss
  ui/src/js/components/common/advancedSearch/Category.js
Due: none

edit JS to not mess with URL on import
  ui/src/js/components/dashboard/shared/import/ImportModule.js
Due: none

Whitespace issues
  .devcontainer/docker-compose.yml_vscode
Due: none

Popup Blocker Messaging (#1226) (#1410)
  changelog/releases/v.1.3.3/1226-popup-check.yaml
  ui/src/css/atoms/button.scss
  ui/src/images/logos/Chrome-popup.png
  ui/src/images/logos/Firefox-popup.png
  ui/src/js/components/shared/fileBrowser/fileRow/File.js
  ui/src/js/components/shared/header/container/containerStatus/ContainerStatus.js
  ui/src/js/components/shared/header/container/devTools/DevTools.js
  ui/src/js/components/shared/modals/PopupBlocked.js
  ui/src/js/components/shared/modals/PopupBlocked.scss
  ui/src/js/components/shared/overview/Overview.js
Due: none

Added boto typing package for testing
  packages/gtmcore/requirements-testing.txt
Due: core

Saving work to share
  packages/gtmcore/gtmcore/dataset/manifest/eventloop.py
  packages/gtmcore/gtmcore/dataset/manifest/manifest.py
  packages/gtmcore/gtmcore/dataset/storage/__init__.py
  packages/gtmcore/gtmcore/dataset/storage/backend.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/dataset/storage/local.py
  packages/gtmcore/gtmcore/dataset/storage/s3.py
Due: core

Minor comment explaining boto3-stubs
  packages/gtmcore/requirements-testing.txt
Due: core

Still all over the place, but mypy is passing
  packages/gtmapi/lmsrvlabbook/api/mutation.py
  packages/gtmapi/lmsrvlabbook/api/mutations/__init__.py
  packages/gtmapi/lmsrvlabbook/api/mutations/dataset.py
  packages/gtmapi/lmsrvlabbook/api/objects/datasettype.py
  packages/gtmcore/gtmcore/dataset/dataset.py
  packages/gtmcore/gtmcore/dataset/io/manager.py
  packages/gtmcore/gtmcore/dataset/storage/__init__.py
  packages/gtmcore/gtmcore/dataset/storage/backend.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/dataset/storage/local.py
  packages/gtmcore/gtmcore/dataset/storage/s3.py
  packages/gtmcore/gtmcore/dispatcher/jobs.py
Due: core, api

Config -> credentials
  packages/gtmapi/lmsrvlabbook/api/mutations/dataset.py
  packages/gtmapi/lmsrvlabbook/api/objects/dataset.py
  packages/gtmcore/gtmcore/dataset/io/manager.py
  packages/gtmcore/gtmcore/dataset/storage/backend.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/dataset/tests/test_storage_local.py
  packages/gtmcore/gtmcore/dataset/tests/test_storage_s3.py
  packages/gtmcore/gtmcore/dispatcher/jobs.py
Due: core, api

Update cdutil version for conda package manager tests (#1439)
  changelog/releases/v1.3.3/1226-popup-check.yaml
  changelog/releases/v1.3.3/1391-bouncing-notifications.yaml
  changelog/releases/v1.3.3/1397-block-change-visibility.yaml
  changelog/releases/v1.3.3/1411-safari-fixes.yaml
  changelog/releases/v1.3.3/1417-match-tag-colors.yaml
  changelog/releases/v1.3.3/1418-GSOD-typo.yaml
  changelog/releases/v1.3.3/1420-branch-diffing.yaml
  changelog/releases/v1.3.3/1439-conda-test-version-fix.yaml
  packages/gtmapi/lmsrvlabbook/tests/snapshots/snap_test_environment_queries.py
  packages/gtmapi/lmsrvlabbook/tests/test_dataloader_package.py
  packages/gtmcore/gtmcore/environment/tests/test_conda.py
Due: core, api

Saving work - currently there are some pretty basic errors
  packages/gtmapi/lmsrvlabbook/api/mutations/dataset.py
  packages/gtmapi/lmsrvlabbook/api/objects/dataset.py
  packages/gtmcore/gtmcore/dataset/manifest/manifest.py
  packages/gtmcore/gtmcore/dataset/storage/backend.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/dataset/storage/local.py
  packages/gtmcore/gtmcore/dataset/storage/s3.py
  packages/gtmcore/gtmcore/dataset/tests/test_storage_gigantum.py
  packages/gtmcore/gtmcore/dataset/tests/test_storage_local.py
  packages/gtmcore/gtmcore/dataset/tests/test_storage_s3.py
  packages/gtmcore/gtmcore/dispatcher/dataset_jobs.py
Due: core, api

mypy passing on gtmcore, but otherwise untested
  packages/gtmcore/gtmcore/dataset/manifest/eventloop.py
  packages/gtmcore/gtmcore/dataset/manifest/manifest.py
  packages/gtmcore/gtmcore/dataset/storage/backend.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/http/http.py
Due: core

adds support for edge-chromium and safari
  ui/src/js/index.js
Due: none

(#1430) enables all browsers except for edge and ie (#1447)
  changelog/releases/v1.3.3/1430-browser-support.yaml
  ui/src/js/index.js
Due: none

Adding logic at application start to initialize an event loop
  packages/gtmapi/service.py
Due: api

Preparing for convo with @dkleissa and @cbutler
  packages/gtmapi/lmsrvlabbook/api/mutations/dataset.py
  packages/gtmcore/gtmcore/dataset/storage/__init__.py
  packages/gtmcore/gtmcore/dataset/storage/backend.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/dataset/storage/s3.py
  packages/gtmcore/gtmcore/dispatcher/dataset_jobs.py
  packages/gtmcore/gtmcore/dispatcher/jobs.py
  packages/gtmcore/gtmcore/http/http.py
Due: core, api

Fullscreen editor CSS fixes (#1416) (#1423)
  changelog/releases/v.1.3.3/1416-fullscreen-note-editor.yaml
  ui/__tests__/components/shared/activity/__snapshots__/UserNote.test.js.snap
  ui/__tests__/components/shared/fileBrowser/fileRow/__snapshots__/actionsMenu.test.js.snap
  ui/__tests__/components/shared/fileBrowser/fileRow/__snapshots__/file.test.js.snap
  ui/__tests__/components/shared/fileBrowser/fileRow/__snapshots__/fileDataset.test.js.snap
  ui/__tests__/components/shared/fileBrowser/fileRow/__snapshots__/folder.test.js.snap
  ui/jest.config.js
  ui/package.json
  ui/public/index.html
  ui/public/indexLocal.html
  ui/src/css/critical.scss
  ui/src/js/components/shared/activity/Activity.jsx
  ui/src/js/components/shared/activity/Activity.scss
  ui/src/js/components/shared/activity/date/DateSection.jsx
  ui/src/js/components/shared/activity/date/note/UserNote.jsx
  ui/src/js/components/shared/activity/date/note/UserNote.scss
  ui/src/js/components/shared/activity/date/note/editor/MarkdownEditor.jsx
  ui/src/js/components/shared/activity/date/note/editor/MarkdownEditor.scss
Due: none

Minimal changes to support multiple anonymous reviewers for anon_review auth (#1449)
  changelog/releases/v1.3.3/1425-multi-anon-review.yaml
  packages/gtmcore/gtmcore/auth/anon_review.py
  packages/gtmcore/gtmcore/auth/tests/test_anon_review.py
  packages/gtmcore/gtmcore/configuration/configuration.py
  packages/gtmcore/gtmcore/fixtures/__init__.py
  packages/gtmcore/gtmcore/fixtures/fixtures.py
Due: core

Optional dataset server-side encryption (#1452)
  changelog/releases/selfhosted/optional-server-side-encryption.yaml
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/dataset/tests/test_storage_gigantum.py
Due: core

(#1441, #1543) Adds current server query and react context to pass currentServer details around. Fixes css issues. (#1454)
  changelog/releases/selfhosted/1454-frontend-bug-fixes.yaml
  ui/src/images/icons/exclamation-orange.svg
  ui/src/images/icons/server.svg
  ui/src/js/App.jsx
  ui/src/js/App.scss
  ui/src/js/Auth/App.js
  ui/src/js/components/interstitial/Interstitial.jsx
  ui/src/js/components/interstitial/Interstitial.scss
  ui/src/js/layout/Layout.jsx
  ui/src/js/layout/sidebar/Sidebar.jsx
  ui/src/js/layout/sidebar/user/User.jsx
  ui/src/js/layout/sidebar/user/User.scss
  ui/src/js/pages/Routes.jsx
  ui/src/js/pages/ServerContext.js
  ui/src/js/pages/dashboard/Dashboard.js
  ui/src/js/pages/dashboard/datasets/Datasets.js
  ui/src/js/pages/dashboard/datasets/Datasets.scss
  ui/src/js/pages/dashboard/datasets/remoteDatasets/RemoteDatasets.js
  ui/src/js/pages/dashboard/labbooks/Labbooks.js
  ui/src/js/pages/login/landing/LoginLanding.jsx
  ui/src/js/pages/login/landing/LoginLanding.scss
  ui/src/js/pages/login/landing/error/LoginError.jsx
  ui/src/js/pages/login/landing/servers/AvailableServers.jsx
  ui/src/js/pages/login/landing/servers/AvailableServers.scss
  ui/src/js/pages/login/landing/servers/AvailableServersWrapper.jsx
  ui/src/js/pages/login/landing/text/LoginText.jsx
  ui/src/js/pages/login/landing/text/LoginText.scss
  ui/src/js/pages/repository/shared/header/actionsSection/actionsMenu/ActionsMenu.js
  ui/src/js/pages/repository/shared/header/actionsSection/actionsMenu/copy/CopyUrl.jsx
  ui/src/js/pages/repository/shared/header/branches/BranchMenu.js
  ui/src/js/pages/repository/shared/modals/DeleteDataset.js
  ui/src/js/pages/repository/shared/modals/DeleteLabbook.js
  ui/src/js/pages/repository/shared/modals/VisibilityModal.js
  ui/src/js/pages/repository/shared/modals/publishDataset/PublishDatasetsModal.js
  ui/src/js/redux/actions/routes.js
  ui/src/js/redux/constants/constants.js
  ui/src/js/redux/reducers/routes.js
Due: none

Fixing add_all to be robust to git-ignored directories, git_fs(_shim) cleanup (#1363) (#1457)
  changelog/releases/v1.3.3/1416-fullscreen-note-editor.yaml
  changelog/releases/v1.3.3/1457-add-all-ignored.yaml
  packages/gtmcore/gtmcore/files/files.py
  packages/gtmcore/gtmcore/gitlib/git_fs.py
  packages/gtmcore/gtmcore/gitlib/git_fs_shim.py
  packages/gtmcore/gtmcore/gitlib/tests/test_git_filesystem.py
  packages/gtmcore/gtmcore/workflows/gitworkflows_utils.py
Due: core

(#1446) updates packages via snyk wizard (#1459)
  changelog/releases/v1.3.3/1446-address-snyk.yaml
  ui/package.json
  ui/src/js/components/labbook/renderers/CodeBlock.js
  ui/src/js/components/shared/fileBrowser/utilities/PrepareUpload.js
Due: none

(#1390) fixes files size of allowance of exactly 500MB (#1458)
  changelog/releases/v1.3.3/1390-500mb-files.yaml
  changelog/releases/v1.3.3/1458-file-size-allowance.yaml
  ui/src/js/components/shared/fileBrowser/utilities/PrepareUpload.js
Due: none

Filebrowser Loader (#1414), Safari/Edge popup blocker (#1226), Cloud Dataset Paging (#1376) (#1460)
  changelog/releases/v1.3.3/1.3.3-fixes.yaml
  ui/src/images/logos/Chrome-popup.png
  ui/src/images/logos/Firefox-popup.png
  ui/src/images/logos/safari-popup.png
  ui/src/js/components/dashboard/datasets/remoteDatasets/RemoteDatasets.js
  ui/src/js/components/shared/fileBrowser/FileBrowser.js
  ui/src/js/components/shared/modals/PopupBlocked.js
Due: none

Filebrowser loading state tweaks (#1414) (#1461)
  changelog/releases/v1.3.3/1414-filebrowser-loading.yaml
  ui/src/js/components/shared/fileBrowser/FileBrowser.js
Due: none

(#1376) Fixes loading cards not showing on remote pages (#1462)
  changelog/releases/v1.3.3/1376-cloud-listings-loader.yaml
  ui/__mocks__/moment.js
  ui/src/js/components/dashboard/datasets/remoteDatasets/RemoteDatasets.js
  ui/src/js/components/dashboard/labbooks/remoteLabbooks/RemoteLabbooks.js
  ui/src/js/components/shared/fileBrowser/utilities/PrepareUpload.js
Due: none

fix test due to dropbox change
  .gitignore
  testing-legacy/testutils/elements.py
Due: none

update overview to use shared markdowneditor component (#1463)
  changelog/releases/v1.3.3/overview-markdown-editor.yaml
  ui/src/js/components/common/markdownEditor/MarkdownEditor.jsx
  ui/src/js/components/common/markdownEditor/MarkdownEditor.scss
  ui/src/js/components/shared/activity/date/note/UserNote.jsx
  ui/src/js/components/shared/fileBrowser/utilities/PrepareUpload.js
  ui/src/js/components/shared/overview/Overview.js
  ui/src/js/components/shared/overview/Overview.scss
  ui/src/js/components/shared/overview/ReadmeEdit.js
Due: none

Update test_branching.py
  testing-legacy/gigantum_tests/test_branching.py
Due: none

Path conditions:
  core: any of: packages/gtmcore/**, but not: packages/gtmapi/lmsrvlabbook/tests/snapshots
  api: any of: packages/gtmapi/**, but not: packages/gtmapi/lmsrvlabbook/tests/snapshots
