Repository manjuta/gigantum-client: changes, and which Codecov flags are due for each by the changed paths.
All: core, api

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      core:
        threshold: 1
        paths:
        - packages/gtmcore/**
      api:
        threshold: 1
        paths:
        - packages/gtmapi/**
    patch:
      core:
        threshold: 9
        paths:
        - packages/gtmcore/**
      api:
        threshold: 9
        paths:
        - packages/gtmapi/**
    changes: no

flags:
  core:
    paths:
      - packages/gtmcore/**
  api:
    paths:
      - packages/gtmapi/**

ignore:
  - "packages/gtmapi/lmsrvlabbook/tests/snapshots"  # ignore snapshot files as they don't really go towards coverage

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, reach, diff, flags, files"
  behavior: default
  require_changes: no

Finally settled on a strategy that works.
  packages/gtmcore/gtmcore/dataset/manifest/file.py
  packages/gtmcore/gtmcore/dataset/manifest/manifest.py
  packages/gtmcore/gtmcore/dataset/storage/backend.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
Due: core

Removing a TODO!
  packages/gtmcore/gtmcore/dataset/manifest/manifest.py
Due: core

Almost have test_manifest.test_delete working again after refactors
  packages/gtmapi/lmsrvlabbook/api/mutations/datasetfiles.py
  packages/gtmcore/gtmcore/dataset/io/manager.py
  packages/gtmcore/gtmcore/dataset/manifest/manifest.py
  packages/gtmcore/gtmcore/dataset/storage/backend.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/dataset/storage/s3.py
  packages/gtmcore/gtmcore/dataset/tests/test_manifest.py
  packages/gtmcore/gtmcore/dataset/tests/test_storage_s3.py
  packages/gtmcore/gtmcore/dispatcher/dataset_jobs.py
  packages/gtmcore/gtmcore/inventory/inventory.py
Due: core, api

Saving work - hopefully correct!
  packages/gtmcore/gtmcore/dataset/manifest/manifest.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
Due: core

Basic manifest functionality working after refactor! test_delete works
  packages/gtmcore/gtmcore/dataset/manifest/manifest.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/dataset/tests/test_manifest.py
Due: core

Removing a bunch of TODOs and fixing some small type issues
  packages/gtmcore/gtmcore/dataset/manifest/manifest.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
Due: core

Package Depency Paging issue (#1465) (#1471)
  changelog/releases/v1.3.4/1465-package-pagination.yaml
  ui/src/js/components/labbook/environment/packages/Packages.js
Due: none

updates react/jsx-props-no-multi-spaces rule to show warning
  ui/.eslintrc
Due: none

Getting rid of some of the 100s of references to the cache manager
  packages/gtmapi/lmsrvlabbook/tests/fixtures.py
  packages/gtmapi/lmsrvlabbook/tests/test_dataset_files_mutations.py
  packages/gtmapi/lmsrvlabbook/tests/test_dataset_mutations.py
  packages/gtmapi/lmsrvlabbook/tests/test_dataset_overview.py
  packages/gtmcore/gtmcore/dataset/cache/__init__.py
  packages/gtmcore/gtmcore/dataset/cache/filesystem.py
  packages/gtmcore/gtmcore/dataset/manifest/manifest.py
  packages/gtmcore/gtmcore/dataset/storage/backend.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/dataset/tests/test_cache_filesystem.py
Due: core, api

build issue
  ui/src/js/components/shared/activity/Activity.jsx
  ui/src/js/components/shared/header/actionsSection/collaborators/modal/search/CollaboratorSearch.jsx
Due: none

Replace httpstat.us and fix js linting rules (#1486)
  changelog/releases/v1.3.4/replace-httpstatus.yaml
  packages/gtmcore/gtmcore/http/tests/test_http.py
  ui/.eslintrc
Due: core

4 of 8 tests passing in test_hash.py!
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/dataset/tests/test_hash.py
Due: core

Deleting the now unused HostFilesystemCache
  packages/gtmapi/lmsrvlabbook/tests/test_dataset_upload_files_mutations.py
Due: api

test_hash.py all passing
  packages/gtmcore/gtmcore/dataset/cache/filesystem.py
  packages/gtmcore/gtmcore/dataset/tests/test_hash.py
Due: core

Only a few type errors remaining - moving up into fixing API level!
  packages/gtmapi/lmsrvlabbook/api/mutations/dataset.py
  packages/gtmapi/lmsrvlabbook/api/objects/datasettype.py
  packages/gtmcore/gtmcore/dataset/manifest/manifest.py
  packages/gtmcore/gtmcore/dataset/storage/backend.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/inventory/inventory.py
Due: core, api

Add support for headless mode in test framework (#1484)
  changelog/releases/v1.3.4/1482_support_for_headless_mode.yaml
  testing/configuration/configuration.yaml
  testing/requirements.txt
  testing/tests/conftest.py
Due: none

Dropzone fix for dataset filebrowser (#1470)
  changelog/releases/v1.3.4/1464-dataset-dropzone.yaml
  ui/src/js/components/shared/activity/Activity.jsx
  ui/src/js/components/shared/fileBrowser/FileBrowser.js
  ui/src/js/components/shared/header/actionsSection/collaborators/modal/search/CollaboratorSearch.jsx
Due: none

Almost done - gitworkflows and dataset_jobs remaining
  packages/gtmcore/gtmcore/dataset/io/manager.py
  packages/gtmcore/gtmcore/dataset/manifest/manifest.py
  packages/gtmcore/gtmcore/workflows/gitworkflows.py
Due: core

updated tooltips to use current server (#1483)
  changelog/releases/v1.3.3/1483-tooltip-updates.yaml
  ui/src/js/components/tooltip/Tooltip.js
  ui/src/js/config.js
  ui/src/js/pages/repository/shared/fileBrowser/fileRow/dataset/DatasetsCommits.js
  ui/src/js/pages/repository/shared/header/actionsSection/collaborators/modal/list/NoCollaborators.jsx
  ui/src/js/pages/repository/shared/header/branches/BranchMenu.js
  ui/src/js/pages/repository/shared/modals/VisibilityModal.js
Due: none

User search uses currentServer data (#1479) (#1485)
  changelog/releases/v1.3.3/1479-server-searchurl.yaml
  ui/src/js/config.js
  ui/src/js/pages/repository/shared/header/actionsSection/collaborators/modal/search/CollaboratorSearch.jsx
Due: none

Saving work while fixing credentials for gigaobj backend
  packages/gtmcore/gtmcore/dataset/io/manager.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/dataset/storage/local.py
  packages/gtmcore/gtmcore/dispatcher/dataset_jobs.py
  packages/gtmcore/gtmcore/inventory/inventory.py
  packages/gtmcore/gtmcore/workflows/gitworkflows.py
Due: core

Finally implemented a reasonable approach to setting credentials in the GigantumObjectStore
  packages/gtmcore/gtmcore/dispatcher/dataset_jobs.py
  packages/gtmcore/gtmcore/workflows/gitworkflows.py
Due: core

gtmcore mypy clean again, checked most places where we load datasets
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/dataset/storage/local.py
  packages/gtmcore/gtmcore/dispatcher/dataset_jobs.py
  packages/gtmcore/gtmcore/workflows/gitworkflows.py
Due: core

Hopefully fairly final notes for the folks who pick this up!
  packages/gtmapi/lmsrvlabbook/api/mutations/dataset.py
  packages/gtmapi/lmsrvlabbook/api/mutations/datasetfiles.py
  packages/gtmapi/lmsrvlabbook/api/objects/dataset.py
  packages/gtmcore/gtmcore/dataset/manifest/hash.py
  packages/gtmcore/gtmcore/dataset/manifest/manifest.py
  packages/gtmcore/gtmcore/dataset/storage/backend.py
  packages/gtmcore/gtmcore/dataset/storage/gigantum.py
  packages/gtmcore/gtmcore/dataset/storage/local.py
  packages/gtmcore/gtmcore/dataset/tests/test_manifest.py
  packages/gtmcore/gtmcore/dataset/tests/test_storage_s3.py
  packages/gtmcore/gtmcore/dispatcher/dataset_jobs.py
  packages/gtmcore/gtmcore/inventory/inventory.py
Due: core, api

fix: ui/package.json to reduce vulnerabilities
  ui/package.json
Due: none

Update PULL_REQUEST_TEMPLATE.md (#1476)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add test case for package manager delete functionality (#1497)
  changelog/releases/v1.4.0/1492-add-test-case-for-deleting-packages.yaml
  testing/client_app/pages/jupyter_lab/jupyter_lab_page.py
  testing/client_app/pages/package_listing/components/add_package_component.py
  testing/client_app/pages/package_listing/components/package_grid_component.py
  testing/client_app/pages/package_listing/package_listing_page.py
  testing/client_app/pages/project_listing/components/project_container_status_component.py
  testing/configuration/configuration.yaml
  testing/framework/factory/compare_utility.py
  testing/framework/factory/models_enums/constants_enums.py
  testing/pytest.ini
  testing/tests/add_package/test_add_package.py
  testing/tests/constants_enums/constants_enums.py
  testing/tests/delete_package/test_delete_package.py
  testing/tests/helper/project_utility.py
Due: none

test gpg
  .gitattributes
  changelog/releases/v1.3.4/1490-dataset-summary-bar-graph.yaml
  exit
  ui/src/images/icons/star__on.svg
  ui/src/images/icons/up-arrow.svg
  ui/src/images/logos/down-arrow.svg
  ui/src/images/logos/up-arrow.svg
  ui/src/js/components/common/advancedSearch/AdvancedSearch.js
Due: none

Add test case to add python packages via requirements.txt (#1499)
  changelog/releases/v1.4.0/1498-add-package-using-requirements_txt.yaml
  testing/client_app/pages/package_listing/components/add_package_component.py
  testing/client_app/pages/package_listing/package_listing_page.py
  testing/framework/factory/page_factory.py
  testing/pytest.ini
  testing/tests/add_package_using_requirements_txt/test_add_package_using_requirements_txt.py
Due: none

(#1488, #1489) Fixes drop down modal in project import and various other css bugs (#1495)
  changelog/releases/v1.3.4/1488-drop-zone.yaml
  ui/src/css/atoms/dropbox.scss
  ui/src/js/components/common/ButtonLoader.scss
  ui/src/js/components/dashboard/shared/import/ImportModule.js
  ui/src/js/components/dashboard/shared/import/ImportModule.scss
  ui/src/js/components/dashboard/shared/import/modal/ImportModal.jsx
  ui/src/js/components/shared/header/actionsSection/collaborators/modal/CollaboratorsModal.scss
  ui/src/js/components/shared/header/titleSection/TitleSection.scss
Due: none

(#1506) Refactors and fixes more less bug for activity details (#1507)
  changelog/releases/v1.4.0/1506-activity-expand-bug.yaml
  ui/__tests__/components/dashboard/__snapshots__/DashboardDatasetLocal.test.js.snap
  ui/__tests__/components/dashboard/__snapshots__/DashboardLocal.test.js.snap
  ui/__tests__/components/dashboard/__snapshots__/DashboardRemote.test.js.snap
  ui/__tests__/components/dashboard/datasets/localDatasets/__snapshots__/LocalDatasets.test.js.snap
  ui/__tests__/components/dashboard/labbooks/localLabbooks/__snapshots__/LocalLabbookPanel.test.js.snap
  ui/__tests__/components/dashboard/labbooks/localLabbooks/__snapshots__/LocalLabbooks.test.js.snap
  ui/__tests__/components/dashboard/labbooks/remoteLabbooks/__snapshots__/RemoteLabbookPanel.test.js.snap
  ui/__tests__/components/dashboard/labbooks/remoteLabbooks/__snapshots__/RemoteLabbooks.test.js.snap
  ui/__tests__/components/dataset/activity/__snapshots__/DatasetActivityContainer.test.js.snap
  ui/__tests__/components/labbook/activity/__snapshots__/LabbookActivityContainer.test.js.snap
  ui/__tests__/components/shared/activity/DetailRecords.test.js
  ui/__tests__/components/shared/activity/__snapshots__/Activity.test.js.snap
  ui/__tests__/components/shared/activity/__snapshots__/ActivityCard.test.js.snap
  ui/__tests__/components/shared/activity/__snapshots__/DetailRecords.test.js.snap
  ui/__tests__/components/shared/fileBrowser/__snapshots__/fileBrowser.test.js.snap
  ui/__tests__/components/shared/fileBrowser/fileRow/__snapshots__/file.test.js.snap
  ui/__tests__/components/shared/fileBrowser/fileRow/__snapshots__/fileDataset.test.js.snap
  ui/__tests__/components/shared/fileBrowser/fileRow/__snapshots__/folder.test.js.snap
  ui/src/css/_animations.scss
  ui/src/js/layout/sidebar/user/User.jsx
  ui/src/js/pages/repository/dataset/Dataset.scss
  ui/src/js/pages/repository/shared/activity/wrappers/card/ActivityDetailList.jsx
  ui/src/js/pages/repository/shared/activity/wrappers/card/DetailRecords.jsx
  ui/src/js/pages/repository/shared/activity/wrappers/card/DetailRecords.scss
  ui/src/js/pages/repository/shared/activity/wrappers/card/records/DetailRecords.jsx
  ui/src/js/pages/repository/shared/activity/wrappers/card/records/DetailRecords.scss
  ui/src/js/pages/repository/shared/activity/wrappers/card/records/DetailRecordsWrapper.jsx
  ui/src/js/pages/repository/shared/activity/wrappers/card/records/record/Record.jsx
  ui/src/js/pages/repository/shared/activity/wrappers/card/records/record/Record.scss
  ui/src/js/pages/repository/shared/activity/wrappers/card/records/record/RenderDetail.jsx
  ui/src/js/pages/repository/shared/header/branches/BranchMenu.js
  ui/src/js/pages/repository/shared/modals/LoginPrompt.js
  ui/src/js/pages/repository/shared/overview/Overview.scss
Due: none

Switch default server to production (#1511)
  changelog/releases/v1.4.0/switch-default-server.yaml
  packages/gtmcore/gtmcore/configuration/config/labmanager.yaml.default
Due: core

remove comment
  ui/src/js/pages/dashboard/shared/import/modal/ImportModal.jsx
Due: none

fix bad merge
  ui/src/js/pages/dashboard/shared/import/ImportModule.js
Due: none

use valid characters...
  ui/src/js/pages/dashboard/shared/import/ImportModule.js
Due: none

fix more merge issues
  ui/src/js/pages/dashboard/shared/import/ImportModule.js
  ui/src/js/pages/dashboard/shared/import/modal/ImportModal.jsx
Due: none

move selfhosted changelog entries to 1.4.0
  changelog/releases/v1.4.0/1393-server-config-discovery.yaml
  changelog/releases/v1.4.0/1454-frontend-bug-fixes.yaml
  changelog/releases/v1.4.0/1469-work-dir-migrate.yaml
  changelog/releases/v1.4.0/optional-server-side-encryption.yaml
Due: none

Fixes css alignment bugs in import modal (#1515)
  changelog/releases/v1.4.0/1515-import-css-bug.yaml
  ui/src/js/pages/dashboard/shared/import/ImportModule.scss
  ui/src/js/pages/login/landing/error/LoginError.jsx
Due: none

Create merge-self-hosted.yaml
  changelog/releases/v1.4.0/merge-self-hosted.yaml
Due: none
