Repository manjuta/gigantum-client: changes, and which Codecov flags are due for each by the changed paths.
All: core, api

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      core:
        threshold: 1
        paths:
        - packages/gtmcore/**
      api:
        threshold: 1
        paths:
        - packages/gtmapi/**
    patch:
      core:
        threshold: 9
        paths:
        - packages/gtmcore/**
      api:
        threshold: 9
        paths:
        - packages/gtmapi/**
    changes: no

flags:
  core:
    paths:
      - packages/gtmcore/**
  api:
    paths:
      - packages/gtmapi/**

ignore:
  - "packages/gtmapi/lmsrvlabbook/tests/snapshots"  # ignore snapshot files as they don't really go towards coverage

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, reach, diff, flags, files"
  behavior: default
  require_changes: no

1031 overhaul fixes bugs related typos or wrong variable naming. (#1177)
  ui/src/js/components/labbook/environment/CustomDockerfile.js
  ui/src/js/components/labbook/environment/packages/packageModal/PackageModal.js
  ui/src/js/components/shared/fileBrowser/fileRow/dataset/DatasetCard.js
  ui/src/js/components/shared/fileBrowser/utilities/FileBrowserMutations.js
  ui/src/js/components/shared/header/actionsSection/actionsMenu/ActionsMenu.js
  ui/src/js/components/shared/sidePanel/Branches.js
  ui/src/js/utils/MultithreadUploader.js
  ui/src/js/utils/UploadWorker.js
Due: none

fixed bug with filebrowser nested dragging (#1179)
  ui/src/js/components/common/Tooltip.scss
  ui/src/js/components/labbook/Labbook.scss
  ui/src/js/components/labbook/overview/RecentActivity.scss
  ui/src/js/components/shared/fileBrowser/fileRow/File.js
  ui/src/js/components/shared/fileBrowser/fileRow/Folder.js
  ui/src/js/components/shared/fileBrowser/fileRow/Folder.scss
  ui/src/js/components/shared/fileBrowser/utilities/Connectors.js
  ui/src/js/tips.json
Due: none

Fixes datset upload download and mouseover on branches (#1181)
  ui/src/js/components/common/footer/FooterUtils.js
  ui/src/js/components/shared/fileBrowser/fileRow/dataset/DatasetActionsMenu.js
  ui/src/js/components/shared/fileBrowser/fileRow/dataset/DatasetCard.js
  ui/src/js/components/shared/fileBrowser/utilities/FileBrowserMutations.js
  ui/src/js/components/shared/sidePanel/Branches.js
Due: none

Fixes #1182, and fixes export wrong param being passed (#1185)
  ui/src/js/components/dashboard/shared/import/ImportModule.js
  ui/src/js/utils/JobStatus.js
  ui/src/js/utils/MultithreadUploader.js
Due: none

fixed cancel button on package modal (#1188)
  ui/src/js/components/labbook/environment/packages/packageModal/AddPackages.js
Due: none

Collaborator Modal token renewal bug (#1189)
  ui/src/js/components/shared/fileBrowser/fileRow/AddSubfolder.js
  ui/src/js/components/shared/header/actionsSection/collaborators/Collaborators.js
Due: none

300 shared config object (#1186)
  gtm/README.md
  packages/gtmapi/blueprint.py
  packages/gtmapi/lmsrvcore/api/mutations/chunkupload.py
  packages/gtmapi/lmsrvcore/tests/fixtures.py
  packages/gtmapi/lmsrvcore/tests/test_chunk_upload.py
  packages/gtmapi/lmsrvcore/utilities/git.py
  packages/gtmapi/lmsrvlabbook/api/mutations/dataset.py
  packages/gtmapi/lmsrvlabbook/api/mutations/datasetsharing.py
  packages/gtmapi/lmsrvlabbook/api/mutations/labbooksharing.py
  packages/gtmapi/lmsrvlabbook/api/objects/dataset.py
  packages/gtmapi/lmsrvlabbook/api/objects/labbook.py
  packages/gtmapi/lmsrvlabbook/api/query.py
  packages/gtmapi/lmsrvlabbook/blueprint.py
  packages/gtmapi/lmsrvlabbook/tests/fixtures.py
  packages/gtmapi/lmsrvlabbook/tests/test_labbook_branching.py
  packages/gtmapi/rest_routes.py
  packages/gtmapi/service.py
Due: api

Fix build messages with carriage returns (\r) (#1187)
  packages/gtmcore/gtmcore/container/local_container.py
  packages/gtmcore/gtmcore/dispatcher/jobs.py
  ui/src/js/components/common/BuildProgress.js
Due: core

disable rstudio launching in cloud (#1192)
  ui/src/js/components/shared/header/container/devTools/DevTools.js
Due: none

Fixes publish modal not showing when datsets are linked, fixes build modal for the hub (#1193)
  ui/src/css/_imports.scss
  ui/src/js/components/common/BuildProgress.js
  ui/src/js/components/common/footer/FooterMessage.js
  ui/src/js/components/common/footer/FooterUtils.js
  ui/src/js/components/shared/header/branches/BranchMenu.js
  ui/src/js/components/shared/modals/BuildModal.js
  ui/src/js/components/shared/modals/publishDataset/PublishDatasetsModal.js
  ui/src/js/components/shared/modals/publishDataset/WarningInfoPrompt.js
  ui/src/js/redux/reducers/footer.js
Due: none

#497: Fixes for hub client, wait for container to start and apt pkg mngr (#1184)
  packages/gtmcore/gtmcore/container/hub_container.py
  packages/gtmcore/gtmcore/environment/apt.py
  testing/gigantum_tests/test_cloud_projects.py
  testing/gigantum_tests/test_link_dataset.py
  testing/gigantum_tests/test_merge_conflict_projects.py
  testing/testutils/actions.py
  testing/testutils/elements.py
  testing/testutils/graphql_helpers.py
  testing/testutils/graphql_hub_helpers.py
  ui/src/js/components/shared/header/container/devTools/DevTools.js
  ui/src/js/components/shared/header/container/utils/ContainerMutations.js
Due: core

minor updates to build messaging (#1194)
  packages/gtmcore/gtmcore/container/hub_container.py
  packages/gtmcore/gtmcore/container/local_container.py
  packages/gtmcore/gtmcore/dispatcher/jobs.py
  ui/src/js/components/labbook/environment/Base.js
Due: core

updated eslint to fail on undefined, removes undefined (#1196)
  ui/.eslintrc
  ui/src/js/components/dashboard/labbooks/remoteLabbooks/RemoteLabbookPanel.js
  ui/src/js/components/dataset/unmanaged/ConfigureModal.js
  ui/src/js/components/labbook/Labbook.js
  ui/src/js/components/labbook/queries/fetchLabbookUpdateQuery.js
  ui/src/js/components/shared/header/branches/BranchMenu.js
Due: none

Fixes modify dataset mutation not receiving datasetOwner (#1197)
  ui/src/js/components/shared/modals/publishDataset/PublishDatasetsModal.js
  ui/src/js/mutations/ModifyDatasetLinkMutation.js
Due: none

Remove git token on logout, fix build cache logic in hub (#1199)
  packages/gtmapi/lmsrvlabbook/api/mutations/user.py
  packages/gtmcore/gtmcore/auth/browser.py
  packages/gtmcore/gtmcore/auth/local.py
  packages/gtmcore/gtmcore/container/hub_container.py
  testing/gigantum_tests/test_merge_conflict_projects.py
  testing/testutils/actions.py
  testing/testutils/elements.py
Due: core, api

Fixes broken download dataset button (#1202)
  ui/src/js/components/dataset/data/DataBrowser.js
  ui/src/js/components/shared/fileBrowser/FileBrowser.js
  ui/src/js/components/shared/fileBrowser/fileRow/dataset/DatasetActionsMenu.js
  ui/src/js/components/shared/fileBrowser/fileRow/dataset/DatasetCard.js
Due: none

Add support for multiple deployment environments in gtm (#1205)
  gtm/gtm/__init__.py
  gtm/gtm/client/build.py
  gtm/gtm/gtmcli.py
  resources/client/cloud-config-override-dev.yaml
  resources/client/cloud-config-override-prod.yaml
Due: none

Fixes build modal not closing when build completes (#1207)
  ui/src/js/components/common/BuildProgress.js
  ui/src/js/redux/reducers/footer.js
Due: none

Stops upload process from exceeding maximum call stack (#1209)
  ui/src/js/components/shared/fileBrowser/utilities/PrepareUpload.js
Due: none

#638: background startup (#1190)
  packages/gtmapi/lmsrvlabbook/api/query.py
  packages/gtmapi/service.py
  packages/gtmcore/gtmcore/configuration/configuration.py
  packages/gtmcore/gtmcore/configuration/tests/test_configuration.py
  packages/gtmcore/gtmcore/dispatcher/jobs.py
  packages/gtmcore/gtmcore/environment/repository.py
  packages/gtmcore/gtmcore/environment/tests/test_environment_repository.py
Due: core, api

Fix secret insertion race condition on container start (#1219)
  packages/gtmcore/gtmcore/workflows/container.py
Due: core

fixes #1206, adds timeout to base image fetch to pop error message (#1221)
  ui/src/js/components/shared/modals/create/SelectBase.js
  ui/src/js/components/shared/modals/create/SelectBase.scss
Due: none

Fixes file upload being locked when folder is empty (#1225)
  ui/src/js/components/shared/fileBrowser/utilities/PrepareUpload.js
Due: none

Stops large files locking out file browser (#1227)
  ui/src/js/components/shared/fileBrowser/FileBrowserToolbar.js
  ui/src/js/components/shared/fileBrowser/utilities/PrepareUpload.js
Due: none

#322 - Added activity feed records when collaborators are manipulated (#1211)
  packages/gtmapi/lmsrvlabbook/api/mutations/datasetsharing.py
  packages/gtmapi/lmsrvlabbook/api/mutations/labbooksharing.py
Due: api

#1195: Improve build status messages (#1222)
  packages/gtmcore/gtmcore/container/container.py
  packages/gtmcore/gtmcore/container/local_container.py
  ui/src/js/components/common/BuildProgress.js
Due: core

Fix support for dev and prod hub clients, bump node to 12.x (#1233)
  .circleci/config.yml
  gtm/gtm/__init__.py
  gtm/gtm/gtmcli.py
  resources/docker/Dockerfile
  resources/docker/Dockerfile_circleci
  resources/docker/ui_build_script_hub_dev.sh
  resources/docker/ui_build_script_hub_prod.sh
  ui/package.json
Due: none

Efficient git pull (#1162)
  packages/gtmcore/gtmcore/environment/repositorymanager.py
  packages/gtmcore/gtmcore/gitlib/git.py
  packages/gtmcore/gtmcore/gitlib/git_fs.py
  packages/gtmcore/gtmcore/gitlib/tests/git_interface_mixin.py
Due: core

UI blocking and other misc fixes (1101, 1210, 1224, 1163, 1223, 1160, 1201, 1200, 1110) (#1232)
  ui/src/css/atoms/button.scss
  ui/src/css/atoms/tooltip.scss
  ui/src/js/components/common/Tooltip.js
  ui/src/js/components/common/Tooltip.scss
  ui/src/js/components/dashboard/Dashboard.js
  ui/src/js/components/dashboard/datasets/Datasets.js
  ui/src/js/components/dashboard/datasets/localDatasets/LocalDatasetsPanel.js
  ui/src/js/components/dashboard/datasets/localDatasets/LocalDatasetsPanel.scss
  ui/src/js/components/dashboard/labbooks/Labbooks.js
  ui/src/js/components/dashboard/labbooks/localLabbooks/LocalLabbookPanel.js
  ui/src/js/components/dashboard/labbooks/localLabbooks/LocalLabbooks.js
  ui/src/js/components/dashboard/shared/import/ImportModule.js
  ui/src/js/components/dataset/Dataset.js
  ui/src/js/components/labbook/Labbook.js
  ui/src/js/components/labbook/environment/CustomDockerfile.js
  ui/src/js/components/labbook/environment/Environment.js
  ui/src/js/components/labbook/environment/secrets/AddSecret.js
  ui/src/js/components/labbook/environment/secrets/Secrets.js
  ui/src/js/components/labbook/environment/secrets/SecretsCard.js
  ui/src/js/components/labbook/overview/RecentActivity.scss
  ui/src/js/components/shared/header/Header.js
  ui/src/js/components/shared/header/branches/BranchMenu.js
  ui/src/js/components/shared/modals/CreateBranch.js
  ui/src/js/redux/actions/dataset/dataset.js
  ui/src/js/redux/constants/constants.js
  ui/src/js/redux/reducers/dataset/dataset.js
  ui/src/js/tips.json
Due: none

Improve multi-tenant git token support via username in remote URL (#1096)
  packages/gtmapi/lmsrvcore/auth/identity.py
  packages/gtmapi/lmsrvcore/auth/user.py
  packages/gtmapi/lmsrvlabbook/api/connections/remotelabbook.py
  packages/gtmapi/lmsrvlabbook/api/mutations/dataset.py
  packages/gtmapi/lmsrvlabbook/api/mutations/datasetsharing.py
  packages/gtmapi/lmsrvlabbook/api/mutations/labbooksharing.py
  packages/gtmapi/lmsrvlabbook/api/mutations/user.py
  packages/gtmapi/lmsrvlabbook/api/objects/dataset.py
  packages/gtmapi/lmsrvlabbook/api/objects/datasetlist.py
  packages/gtmapi/lmsrvlabbook/tests/snapshots/snap_test_dataset_remote_ops.py
  packages/gtmapi/lmsrvlabbook/tests/test_dataset_files_mutations.py
  packages/gtmapi/lmsrvlabbook/tests/test_dataset_queries.py
  packages/gtmapi/lmsrvlabbook/tests/test_labbook_branching.py
  packages/gtmapi/lmsrvlabbook/tests/test_labbook_mutations.py
  packages/gtmapi/lmsrvlabbook/tests/test_mutations_labbooksharing.py
  packages/gtmcore/gtmcore/auth/browser.py
  packages/gtmcore/gtmcore/configuration/configuration.py
  packages/gtmcore/gtmcore/configuration/utils.py
  packages/gtmcore/gtmcore/dataset/dataset.py
  packages/gtmcore/gtmcore/dataset/tests/test_dataset.py
  packages/gtmcore/gtmcore/dispatcher/dataset_jobs.py
  packages/gtmcore/gtmcore/dispatcher/jobs.py
  packages/gtmcore/gtmcore/dispatcher/tests/test_dataset_jobs.py
  packages/gtmcore/gtmcore/dispatcher/tests/test_jobs.py
  packages/gtmcore/gtmcore/fixtures/fixtures.py
  packages/gtmcore/gtmcore/gitlib/__init__.py
  packages/gtmcore/gtmcore/gitlib/git.py
  packages/gtmcore/gtmcore/gitlib/git_fs.py
  packages/gtmcore/gtmcore/gitlib/tests/test_git_factory.py
  packages/gtmcore/gtmcore/gitlib/tests/test_repo_location.py
  packages/gtmcore/gtmcore/inventory/inventory.py
  packages/gtmcore/gtmcore/inventory/repository.py
  packages/gtmcore/gtmcore/inventory/tests/test_inventory_datasets.py
  packages/gtmcore/gtmcore/inventory/tests/test_inventory_labbooks.py
  packages/gtmcore/gtmcore/workflows/gitlab.py
  packages/gtmcore/gtmcore/workflows/gitworkflows.py
  packages/gtmcore/gtmcore/workflows/gitworkflows_utils.py
  packages/gtmcore/gtmcore/workflows/tests/test_gitlab.py
  packages/gtmcore/gtmcore/workflows/tests/test_gitworkflow_ut.py
  testing/gigantum_tests/test_link_dataset.py
Due: core, api

#1247: Add pagination on collaborators and fix double fetch (#1250)
  packages/gtmapi/lmsrvlabbook/api/objects/labbook.py
  packages/gtmcore/gtmcore/workflows/gitlab.py
  packages/gtmcore/gtmcore/workflows/tests/test_gitlab.py
Due: core, api

hotfix - fix timing when execing in hub container interface (#1251)
  packages/gtmcore/gtmcore/container/hub_container.py
Due: core

updated public_jobs to public_builds in create labbook function (#1255)
  packages/gtmcore/gtmcore/workflows/gitlab.py
Due: core

Large file warning Modal changes (#1253)
  ui/src/js/components/shared/fileBrowser/FileBrowser.js
  ui/src/js/components/shared/fileBrowser/FileBrowser.scss
  ui/src/js/components/shared/fileBrowser/FileSizePromptModal.js
  ui/src/js/components/shared/fileBrowser/FileSizePromptModal.scss
  ui/src/js/components/shared/fileBrowser/utilities/PrepareUpload.js
Due: none

Activity error handling (#1252)
  .circleci/config.yml
  .gitignore
  packages/gtmapi/lmsrvlabbook/api/mutations/branching.py
  packages/gtmapi/lmsrvlabbook/api/mutations/dataset.py
  packages/gtmapi/lmsrvlabbook/api/mutations/labbook.py
  packages/gtmapi/lmsrvlabbook/api/mutations/note.py
  packages/gtmapi/lmsrvlabbook/api/mutations/secrets.py
  packages/gtmapi/lmsrvlabbook/api/objects/activity.py
  packages/gtmapi/lmsrvlabbook/tests/snapshots/snap_test_labbook_mutations.py
  packages/gtmapi/lmsrvlabbook/tests/test_labbook_overview.py
  packages/gtmcore/gtmcore/activity/monitors/activity.py
  packages/gtmcore/gtmcore/activity/monitors/monitor_jupyterlab.py
  packages/gtmcore/gtmcore/activity/monitors/monitor_rserver.py
  packages/gtmcore/gtmcore/activity/processors/core.py
  packages/gtmcore/gtmcore/activity/processors/jupyterlab.py
  packages/gtmcore/gtmcore/activity/processors/processor.py
  packages/gtmcore/gtmcore/activity/processors/rserver.py
  packages/gtmcore/gtmcore/activity/records.py
  packages/gtmcore/gtmcore/activity/store.py
  packages/gtmcore/gtmcore/activity/tests/test_activitydetailrecord.py
  packages/gtmcore/gtmcore/activity/tests/test_activitymonitor.py
  packages/gtmcore/gtmcore/activity/tests/test_activityrecord.py
  packages/gtmcore/gtmcore/activity/tests/test_activitystore.py
  packages/gtmcore/gtmcore/activity/tests/test_jupyterlabnotebookmonitor.py
  packages/gtmcore/gtmcore/activity/tests/test_rservermonitor.py
  packages/gtmcore/gtmcore/activity/utils.py
  packages/gtmcore/gtmcore/dataset/dataset.py
  packages/gtmcore/gtmcore/dataset/manifest/manifest.py
  packages/gtmcore/gtmcore/environment/bundledapp.py
  packages/gtmcore/gtmcore/environment/componentmanager.py
  packages/gtmcore/gtmcore/files/files.py
  packages/gtmcore/gtmcore/inventory/inventory.py
  packages/gtmcore/gtmcore/inventory/repository.py
  packages/gtmcore/gtmcore/inventory/tests/test_process_sweep_status.py
  packages/gtmcore/gtmcore/workflows/gitworkflows_utils.py
  packages/gtmcore/requirements-testing.txt
  resources/docker/Dockerfile
  resources/docker/Dockerfile_circleci
Due: core, api

Cloud build output (#1261)
  packages/gtmcore/gtmcore/container/hub_container.py
Due: core
