Repository manjuta/gigantum-client: changes, and which Codecov flags are due for each by the changed paths.
All: core, api

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      core:
        threshold: 1
        paths:
        - packages/gtmcore/**
      api:
        threshold: 1
        paths:
        - packages/gtmapi/**
    patch:
      core:
        threshold: 9
        paths:
        - packages/gtmcore/**
      api:
        threshold: 9
        paths:
        - packages/gtmapi/**
    changes: no

flags:
  core:
    paths:
      - packages/gtmcore/**
  api:
    paths:
      - packages/gtmapi/**

ignore:
  - "packages/gtmapi/lmsrvlabbook/tests/snapshots"  # ignore snapshot files as they don't really go towards coverage

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, reach, diff, flags, files"
  behavior: default
  require_changes: no

updated backup url to remove extra slash
  packages/gtmapi/lmsrvlabbook/api/objects/server.py
  packages/gtmapi/lmsrvlabbook/tests/test_dataset_mutations.py
  packages/gtmapi/rest_routes.py
  packages/gtmcore/gtmcore/workflows/gitlab.py
  packages/gtmcore/gtmcore/workflows/gitworkflows.py
Due: core, api

checked out binaries from integration
  packages/gtmapi/lmsrvlabbook/tests/data/test-labbook.zip
  packages/gtmcore/gtmcore/activity/tests/52f5a3a9.rserver.dump
  packages/gtmcore/gtmcore/activity/tests/73467b78.rserver.dump
  packages/gtmcore/gtmcore/dataset/storage/thumbnails/gigantum_object_storage.png
  packages/gtmcore/gtmcore/dataset/storage/thumbnails/local_filesystem.png
  packages/gtmcore/gtmcore/dataset/storage/thumbnails/s3.png
  packages/gtmcore/gtmcore/labbook/tests/test.zip
  packages/gtmcore/gtmcore/workflows/tests/lb-to-migrate-197b6a.zip
  packages/gtmcore/gtmcore/workflows/tests/snappy.zip
  packages/gtmcore/gtmcore/workflows/tests/test_from_windows.zip
  ui/src/images/logos/Chrome-popup.png
  ui/src/images/logos/Firefox-popup.png
  ui/src/images/logos/safari-popup.png
Due: core, api

Update legacy test harness to work with client 1.4.0 (#1566)
  .gitignore
  changelog/releases/v1.4.1/legacy-test-harness-updates.yaml
  testing-legacy/gigantum_tests/test_branching.py
  testing-legacy/gigantum_tests/test_delete_project.py
  testing-legacy/gigantum_tests/test_file_browser.py
  testing-legacy/gigantum_tests/test_merge_conflict_projects.py
  testing-legacy/requirements.txt
  testing-legacy/testutils/actions.py
  testing-legacy/testutils/cleanup.py
  testing-legacy/testutils/elements.py
  testing-legacy/testutils/testutils.py
Due: none

(#1557) Fixes summary showing negative value (#1597)
  changelog/releases/v1.4.1/1557-summary-negative.yaml
  packages/gtmcore/gtmcore/container/tests/test_container_ops.py
  ui/.gitattributes
  ui/src/js/components/modal/popup/PopupBlocked.jsx
  ui/src/js/pages/repository/dataset/overview/Summary.js
  ui/src/js/pages/repository/dataset/overview/Summary.scss
  ui/src/js/pages/repository/dataset/overview/Type.js
  ui/src/js/pages/repository/dataset/overview/Type.scss
  ui/src/js/pages/repository/dataset/overview/summary/Summary.jsx
  ui/src/js/pages/repository/dataset/overview/summary/Summary.scss
  ui/src/js/pages/repository/dataset/overview/type/Type.jsx
  ui/src/js/pages/repository/dataset/overview/type/Type.scss
  ui/src/js/pages/repository/shared/overview/Overview.js
Due: core

ignore line endings in binary files
  .gitattributes
Due: none

updating test framework to support Gigantum Client_1.4.0 and above (#1594)
  changelog/releases/v1.4.1/1569-test-framework-update-for-ver140-and-above.yaml
  testing/client_app/helper/local_project_helper_utility.py
  testing/client_app/pages/landing/components/landing_component.py
  testing/configuration/configuration.yaml
  testing/tests/add_package/test_add_package.py
  testing/tests/add_package_using_docker_snippets/test_add_package_using_docker_snippets.py
  testing/tests/add_package_using_requirements_txt/test_add_package_using_requirements_txt.py
  testing/tests/create_project/test_create_project.py
  testing/tests/delete_package/test_delete_package.py
  testing/tests/login/test_login.py
  testing/tests/verify_package_with_broken_build/test_verify_package_with_broken_build.py
Due: none

Update package for security issue and add CUDA 11 support (#1595)
  changelog/releases/v1.4.1/1565-cuda-11-and-dep-update.yaml
  packages/gtmcore/gtmcore/container/cuda.py
  packages/gtmcore/gtmcore/container/tests/test_cuda_version.py
  packages/gtmcore/requirements.txt
Due: core

fix gtmapi tests
  packages/gtmapi/lmsrvlabbook/tests/test_dataset_queries.py
  packages/gtmapi/lmsrvlabbook/tests/test_server_queries.py
Due: api

Test case for publishing syncing and importing a project (#1599)
  changelog/releases/v1.4.1/1570-test-case-to-publish-sync-import-project.yaml
  testing/client_app/constant_enums/constants_enums.py
  testing/client_app/helper/local_project_helper_utility.py
  testing/client_app/pages/project_listing/components/gigantum_hub_component.py
  testing/client_app/pages/project_listing/components/project_code_input_output_data_component.py
  testing/client_app/pages/project_listing/components/project_container_status_component.py
  testing/client_app/pages/project_listing/components/project_delete_component.py
  testing/client_app/pages/project_listing/components/project_listing_component.py
  testing/client_app/pages/project_listing/components/project_menu_component.py
  testing/client_app/pages/project_listing/project_listing_page.py
  testing/pytest.ini
  testing/tests/add_project_publish_sync_delete_import/test_add_project_publish_sync_delete_import.py
  testing/tests/helper/project_utility.py
Due: none

fix: packages/gtmcore/requirements.txt to reduce vulnerabilities
  packages/gtmcore/requirements.txt
Due: core

Remove check for auth system type (#1613)
  changelog/releases/v1.4.1/remove-auth-type-check.yaml
  packages/gtmcore/gtmcore/configuration/authentication.py
Due: core

Adding test case for merge conflicts (#1607)
  changelog/releases/v1.4.1/1598-test-case-for-merge-conflicts.yaml
  testing/client_app/helper/local_project_helper_utility.py
  testing/client_app/pages/project_listing/components/collaborators_modal_component.py
  testing/client_app/pages/project_listing/components/project_listing_component.py
  testing/client_app/pages/project_listing/components/project_menu_component.py
  testing/client_app/pages/project_listing/components/project_sync_conflict_modal_component.py
  testing/client_app/pages/project_listing/project_listing_page.py
  testing/configuration/configuration.yaml
  testing/pytest.ini
  testing/tests/merge_conflicts/test_merge_conflicts.py
  testing/tests/test_fixtures.py
Due: none

Conditionally use `user-settings` file when launching Rstudio (#1606)
  changelog/releases/v1.4.1/1605-rstudio-config-fix.yaml
  packages/gtmcore/gtmcore/container/rserver.py
Due: core

Minio blocking fix (#1604)
  .gitattributes
  changelog/releases/v1.4.2/1575-backup-object-server-query.yaml
  packages/gtmapi/lmsrvcore/tests/test_authorization_middleware.py
  packages/gtmapi/lmsrvlabbook/api/objects/datasetlist.py
  packages/gtmapi/lmsrvlabbook/api/objects/labbooklist.py
  packages/gtmapi/lmsrvlabbook/api/objects/server.py
  packages/gtmapi/lmsrvlabbook/tests/test_dataset_mutations.py
  packages/gtmapi/lmsrvlabbook/tests/test_dataset_queries.py
  packages/gtmapi/lmsrvlabbook/tests/test_server_queries.py
  packages/gtmapi/rest_routes.py
  packages/gtmcore/gtmcore/configuration/configuration.py
  packages/gtmcore/gtmcore/dispatcher/dataset_jobs.py
  packages/gtmcore/gtmcore/dispatcher/tests/test_dataset_jobs.py
  packages/gtmcore/gtmcore/workflows/__init__.py
  packages/gtmcore/gtmcore/workflows/gitlab.py
  packages/gtmcore/gtmcore/workflows/gitworkflows.py
  packages/gtmcore/gtmcore/workflows/gitworkflows_utils.py
  packages/gtmcore/gtmcore/workflows/tests/test_gitlab.py
  packages/gtmcore/gtmcore/workflows/tests/test_gitworkflow_ut.py
Due: core, api

(#1573) Adds polling for backup flag when backup is in progress. (#1615)
  changelog/releases/v1.4.2/1573-polling-backup.yaml
  ui/src/js/App.jsx
  ui/src/js/layout/sidebar/user/User.jsx
  ui/src/js/mutations/localCommits/CurrentServer.js
  ui/src/js/pages/Routes.jsx
  ui/src/js/pages/repository/shared/header/branches/Branches.jsx
  ui/src/js/pages/repository/shared/header/branches/menu/buttons/BranchButtons.jsx
  ui/src/js/pages/repository/shared/header/branches/menu/buttons/BranchButtons.scss
  ui/src/js/pages/repository/shared/header/branches/menu/buttons/sync/SyncBranchButtons.jsx
  ui/src/js/pages/repository/shared/header/branches/menu/buttons/sync/SyncBranchButtons.scss
  ui/src/js/pages/repository/shared/header/branches/menu/dropdown/BranchDropdown.jsx
  ui/src/js/pages/repository/shared/header/branches/panel/branch/actions/BranchActions.jsx
  ui/src/js/pages/repository/shared/header/branches/panel/branch/actions/BranchActions.scss
  ui/src/js/pages/repository/shared/header/branches/panel/branch/actions/buttons/sync/SyncMenu.jsx
  ui/src/js/pages/repository/shared/header/container/containerStatus/ContainerStatus.js
  ui/src/js/utils/currentServerStatus.js
Due: none

updated packages
  ui/package.json
  ui/src/js/components/advancedSearch/__tests__/__snapshots__/AdvancedSearch.stories.storyshot
  ui/src/js/components/buildProgress/__tests__/__snapshots__/BuildProgress.stories.storyshot
  ui/yarn.lock
Due: none

Quick fix to source of git_url when checking backup in progress (#1620)
  changelog/releases/v1.4.2/1575-backup-object-server-query-fix.yaml
  packages/gtmapi/rest_routes.py
  packages/gtmcore/gtmcore/configuration/configuration.py
  packages/gtmcore/gtmcore/workflows/gitlab.py
Due: core, api

HOTFIX recent changes to file-icon-js breaks current build (#1622)
  .circleci/config.yml
  changelog/releases/v1.4.2/HOTFIX-icon-file-package.yaml
  ui/__tests__/__snapshots__/history.test.js.snap
  ui/__tests__/components/dashboard/labbooks/localLabbooks/__snapshots__/LocalLabbookPanel.test.js.snap
  ui/__tests__/components/dashboard/labbooks/localLabbooks/__snapshots__/LocalLabbooks.test.js.snap
  ui/__tests__/components/dashboard/labbooks/remoteLabbooks/__snapshots__/RemoteLabbookPanel.test.js.snap
  ui/__tests__/components/dashboard/labbooks/remoteLabbooks/__snapshots__/RemoteLabbooks.test.js.snap
  ui/__tests__/components/shared/fileBrowser/__snapshots__/LinkModal.test.js.snap
  ui/__tests__/components/shared/fileBrowser/fileRow/__snapshots__/folder.test.js.snap
  ui/package.json
  ui/src/js/components/advancedSearch/__tests__/__snapshots__/AdvancedSearch.stories.storyshot
  ui/src/js/pages/repository/shared/fileBrowser/fileRow/File.js
  ui/src/js/pages/repository/shared/fileBrowser/fileRow/dataset/DatasetFile.js
  ui/yarn.lock
Due: none

1589 block import delete (#1621)
  changelog/releases/v1.4.2/1589-remote-delete.yaml
  ui/src/js/components/footer/FooterUtils.js
  ui/src/js/mutations/localCommits/CurrentServer.js
  ui/src/js/mutations/repository/import/ImportRemoteLabbookMutation.js
  ui/src/js/pages/Routes.jsx
  ui/src/js/pages/dashboard/labbooks/remoteLabbooks/RemoteLabbookPanel.js
  ui/src/js/utils/checkBackupMode.js
  ui/src/js/utils/currentServerStatus.js
  ui/yarn.lock
Due: none

adds servercontext consumer to collaborators modal
  ui/src/js/pages/repository/shared/fileBrowser/fileRow/File.js
  ui/src/js/pages/repository/shared/header/actionsSection/collaborators/modal/CollaboratorsModal.jsx
  ui/src/js/pages/repository/shared/header/actionsSection/collaborators/modal/list/CollaboratorList.jsx
  ui/src/js/pages/repository/shared/header/actionsSection/collaborators/modal/search/CollaboratorSearch.jsx
Due: none

.
  ui/src/images/logos/Chrome-popup.png
  ui/src/images/logos/Firefox-popup.png
  ui/src/images/logos/safari-popup.png
Due: none

Fixes icon-js failing in different environments (#1623)
  changelog/releases/v1.4.2/Hotfix-icon-file-getClass.yaml
  ui/src/js/pages/repository/shared/fileBrowser/fileRow/File.js
  ui/src/js/pages/repository/shared/fileBrowser/fileRow/dataset/DatasetFile.js
Due: none

refactor merge
  ui/src/js/pages/dashboard/Dashboard.js
  ui/src/js/pages/dashboard/datasets/Datasets.js
  ui/src/js/pages/dashboard/datasets/local/LocalDatasets.js
  ui/src/js/pages/dashboard/datasets/local/LocalDatasets.scss
  ui/src/js/pages/dashboard/datasets/local/LocalDatasetsContainer.js
  ui/src/js/pages/dashboard/datasets/local/lookups/DatasetVisibilityLookup.js
  ui/src/js/pages/dashboard/datasets/local/panel/LocalDatasetsPanel.js
  ui/src/js/pages/dashboard/datasets/local/panel/LocalDatasetsPanel.scss
  ui/src/js/pages/dashboard/datasets/remote/RemoteDatasets.js
  ui/src/js/pages/dashboard/datasets/remote/RemoteDatasets.scss
  ui/src/js/pages/dashboard/datasets/remote/RemoteDatasetsContainer.js
  ui/src/js/pages/dashboard/datasets/remote/panel/RemoteDatasetsPanel.js
  ui/src/js/pages/dashboard/datasets/remote/panel/RemoteDatasetsPanel.scss
  ui/src/js/pages/dashboard/projects/Projects.js
  ui/src/js/pages/dashboard/projects/Projects.scss
  ui/src/js/pages/dashboard/projects/local/LocalProjects.js
  ui/src/js/pages/dashboard/projects/local/LocalProjects.scss
  ui/src/js/pages/dashboard/projects/local/LocalProjectsContainer.js
  ui/src/js/pages/dashboard/projects/local/lookups/ContainerLookup.js
  ui/src/js/pages/dashboard/projects/local/lookups/VisibilityLookup.js
  ui/src/js/pages/dashboard/projects/local/panel/LocalProjectPanel.js
  ui/src/js/pages/dashboard/projects/local/panel/LocalProjectPanel.scss
  ui/src/js/pages/dashboard/projects/remote/RemoteProjects.js
  ui/src/js/pages/dashboard/projects/remote/RemoteProjects.scss
  ui/src/js/pages/dashboard/projects/remote/RemoteProjectsContainer.js
  ui/src/js/pages/dashboard/projects/remote/panel/RemoteProjectPanel.js
  ui/src/js/pages/dashboard/projects/remote/panel/RemoteProjectPanel.scss
Due: none

clean up bundled app implementation
  packages/gtmapi/lmsrvlabbook/api/mutations/container.py
  packages/gtmcore/gtmcore/environment/bundledapp.py
  packages/gtmcore/gtmcore/environment/tests/test_bundled_app.py
  packages/gtmcore/gtmcore/imagebuilder/imagebuilder.py
Due: core, api

Create 1245-custom-apps.yaml
  changelog/releases/v1.4.1/1245-custom-apps.yaml
Due: none

relaychanges
  ui/src/js/pages/dashboard/Dashboard.js
  ui/src/js/pages/dashboard/projects/local/LocalProjects.js
  ui/src/js/pages/dashboard/projects/local/LocalProjectsContainer.js
  ui/src/js/pages/dashboard/projects/remote/RemoteProjects.js
  ui/src/js/pages/dashboard/projects/remote/RemoteProjectsContainer.js
Due: none

fix: gtm/requirements.txt to reduce vulnerabilities
  gtm/requirements.txt
Due: none

resolve refactor bugs
  ui/src/js/pages/dashboard/Dashboard.js
  ui/src/js/pages/dashboard/projects/Projects.js
  ui/src/js/pages/dashboard/projects/local/LocalProjects.js
  ui/src/js/pages/dashboard/projects/remote/RemoteProjectsContainer.js
  ui/src/js/pages/repository/shared/fileBrowser/__tests__/FileBrowser.test.js
  ui/src/js/pages/repository/shared/fileBrowser/fileRow/addSubfolder/__tests__/AddSubfolder.test.js
  ui/src/js/pages/repository/shared/fileBrowser/fileRow/file/__test__/File.test.js
  ui/src/js/pages/repository/shared/fileBrowser/fileRow/file/__tests__/File.stories.jsx
  ui/src/js/pages/repository/shared/fileBrowser/fileRow/file/__tests__/File.test.js
Due: none

changelog
  changelog/releases/v1.4.2/1477-test-refactor.yaml
Due: none

dataset props
  ui/src/js/pages/dashboard/datasets/Datasets.js
  ui/src/js/pages/dashboard/datasets/local/LocalDatasets.js
  ui/src/js/pages/dashboard/datasets/local/panel/LocalDatasetsPanel.js
  ui/src/js/pages/dashboard/datasets/local/panel/LocalDatasetsPanel.scss
Due: none

fixed an error in changelog
  changelog/releases/v1.4.2/1477-test-refactor.yaml
Due: none

updates wepback exclude rules
  ui/config/webpack.config.dev.js
  ui/src/js/pages/repository/shared/fileBrowser/__tests__/FileBrowser.test.js
  ui/src/js/pages/repository/shared/fileBrowser/fileRow/file/__tests__/File.test.js
Due: none

remove comment
  ui/src/js/pages/repository/shared/fileBrowser/__tests__/FileBrowser.test.js
  ui/src/js/pages/repository/shared/fileBrowser/fileRow/actionsMenu/__tests__/ActionsMenu.test.js
  ui/src/js/pages/repository/shared/fileBrowser/fileRow/addSubfolder/__tests__/AddSubfolder.test.js
  ui/src/js/pages/repository/shared/fileBrowser/fileRow/file/__tests__/File.test.js
Due: none

Allow Sync while Project is running (#1267) (#1624)
  changelog/releases/v1.4.2/1267-sync-warning.yaml
  ui/src/images/icons/branches/sync-warning.svg
  ui/src/images/logos/Chrome-popup.png
  ui/src/images/logos/Firefox-popup.png
  ui/src/images/logos/safari-popup.png
  ui/src/js/components/modal/syncWarning/SyncWarning.jsx
  ui/src/js/components/modal/syncWarning/SyncWarning.scss
  ui/src/js/pages/repository/labbook/Labbook.js
  ui/src/js/pages/repository/shared/header/branches/BranchMenu.js
Due: none

fix export path and tooltip
  packages/gtmcore/gtmcore/dispatcher/jobs.py
  packages/gtmcore/gtmcore/workflows/tests/test_zipworkflow.py
  ui/src/js/pages/repository/shared/header/actionsSection/actionsMenu/ActionsMenu.js
Due: core

address snyk package updates
  gtm/requirements.txt
  packages/gtmcore/requirements.txt
Due: core
